html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;text-decoration:none}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}a{color:inherit}div.pp_default .pp_top,div.pp_default .pp_top .pp_middle,div.pp_default .pp_top .pp_left,div.pp_default .pp_top .pp_right,div.pp_default .pp_bottom,div.pp_default .pp_bottom .pp_left,div.pp_default .pp_bottom .pp_middle,div.pp_default .pp_bottom
.pp_right{height:13px}div.pp_default .pp_top
.pp_left{background:url(/wp-content/themes/veles/images/prettyPhoto/default/sprite.png) -78px -93px no-repeat}div.pp_default .pp_top
.pp_middle{background:url(/wp-content/themes/veles/images/prettyPhoto/default/sprite_x.png) top left repeat-x}div.pp_default .pp_top
.pp_right{background:url(/wp-content/themes/veles/images/prettyPhoto/default/sprite.png) -112px -93px no-repeat}div.pp_default .pp_content
.ppt{color:#f8f8f8}div.pp_default .pp_content_container
.pp_left{background:url(/wp-content/themes/veles/images/prettyPhoto/default/sprite_y.png) -7px 0 repeat-y;padding-left:13px}div.pp_default .pp_content_container
.pp_right{background:url(/wp-content/themes/veles/images/prettyPhoto/default/sprite_y.png) top right repeat-y;padding-right:13px}div.pp_default .pp_next:hover{background:url(/wp-content/themes/veles/images/prettyPhoto/default/sprite_next.png) center right no-repeat;cursor:pointer}div.pp_default .pp_previous:hover{background:url(/wp-content/themes/veles/images/prettyPhoto/default/sprite_prev.png) center left no-repeat;cursor:pointer}div.pp_default
.pp_expand{background:url(/wp-content/themes/veles/images/prettyPhoto/default/sprite.png) 0 -29px no-repeat;cursor:pointer;height:28px;width:28px}div.pp_default .pp_expand:hover{background:url(/wp-content/themes/veles/images/prettyPhoto/default/sprite.png) 0 -56px no-repeat;cursor:pointer}div.pp_default
.pp_contract{background:url(/wp-content/themes/veles/images/prettyPhoto/default/sprite.png) 0 -84px no-repeat;cursor:pointer;height:28px;width:28px}div.pp_default .pp_contract:hover{background:url(/wp-content/themes/veles/images/prettyPhoto/default/sprite.png) 0 -113px no-repeat;cursor:pointer}div.pp_default
.pp_close{background:url(/wp-content/themes/veles/images/prettyPhoto/default/sprite.png) 2px 1px no-repeat;cursor:pointer;height:30px;width:30px}div.pp_default .pp_gallery ul li
a{background:url(/wp-content/themes/veles/images/prettyPhoto/default/default_thumb.png) center center #f8f8f8;border:1px
solid #aaa}div.pp_default
.pp_social{margin-top:7px}div.pp_default .pp_gallery a.pp_arrow_previous,div.pp_default .pp_gallery
a.pp_arrow_next{left:auto;position:static}div.pp_default .pp_nav .pp_play,div.pp_default .pp_nav
.pp_pause{background:url(/wp-content/themes/veles/images/prettyPhoto/default/sprite.png) -51px 1px no-repeat;height:30px;width:30px}div.pp_default .pp_nav
.pp_pause{background-position:-51px -29px}div.pp_default a.pp_arrow_previous,div.pp_default
a.pp_arrow_next{background:url(/wp-content/themes/veles/images/prettyPhoto/default/sprite.png) -31px -3px no-repeat;height:20px;margin:4px
0 0;width:20px}div.pp_default
a.pp_arrow_next{background-position:-82px -3px;left:52px}div.pp_default .pp_content_container
.pp_details{margin-top:5px}div.pp_default
.pp_nav{clear:none;height:30px;position:relative;width:110px}div.pp_default .pp_nav
.currentTextHolder{color:#999;font-family:Georgia;font-size:11px;font-style:italic;left:75px;line-height:25px;margin:0;padding:0
0 0 10px;position:absolute;top:2px}div.pp_default .pp_close:hover,div.pp_default .pp_nav .pp_play:hover,div.pp_default .pp_nav .pp_pause:hover,div.pp_default .pp_arrow_next:hover,div.pp_default .pp_arrow_previous:hover{opacity:0.7}div.pp_default
.pp_description{font-size:11px;font-weight:700;line-height:14px;margin:5px
50px 5px 0}div.pp_default .pp_bottom
.pp_left{background:url(/wp-content/themes/veles/images/prettyPhoto/default/sprite.png) -78px -127px no-repeat}div.pp_default .pp_bottom
.pp_middle{background:url(/wp-content/themes/veles/images/prettyPhoto/default/sprite_x.png) bottom left repeat-x}div.pp_default .pp_bottom
.pp_right{background:url(/wp-content/themes/veles/images/prettyPhoto/default/sprite.png) -112px -127px no-repeat}div.pp_default
.pp_loaderIcon{background:url(/wp-content/themes/veles/images/prettyPhoto/default/loader.gif) center center no-repeat}div.light_rounded .pp_top
.pp_left{background:url(/wp-content/themes/veles/images/prettyPhoto/light_rounded/sprite.png) -88px -53px no-repeat}div.light_rounded .pp_top
.pp_right{background:url(/wp-content/themes/veles/images/prettyPhoto/light_rounded/sprite.png) -110px -53px no-repeat}div.light_rounded .pp_next:hover{background:url(/wp-content/themes/veles/images/prettyPhoto/light_rounded/btnNext.png) center right no-repeat;cursor:pointer}div.light_rounded .pp_previous:hover{background:url(/wp-content/themes/veles/images/prettyPhoto/light_rounded/btnPrevious.png) center left no-repeat;cursor:pointer}div.light_rounded
.pp_expand{background:url(/wp-content/themes/veles/images/prettyPhoto/light_rounded/sprite.png) -31px -26px no-repeat;cursor:pointer}div.light_rounded .pp_expand:hover{background:url(/wp-content/themes/veles/images/prettyPhoto/light_rounded/sprite.png) -31px -47px no-repeat;cursor:pointer}div.light_rounded
.pp_contract{background:url(/wp-content/themes/veles/images/prettyPhoto/light_rounded/sprite.png) 0 -26px no-repeat;cursor:pointer}div.light_rounded .pp_contract:hover{background:url(/wp-content/themes/veles/images/prettyPhoto/light_rounded/sprite.png) 0 -47px no-repeat;cursor:pointer}div.light_rounded
.pp_close{background:url(/wp-content/themes/veles/images/prettyPhoto/light_rounded/sprite.png) -1px -1px no-repeat;cursor:pointer;height:22px;width:75px}div.light_rounded .pp_nav
.pp_play{background:url(/wp-content/themes/veles/images/prettyPhoto/light_rounded/sprite.png) -1px -100px no-repeat;height:15px;width:14px}div.light_rounded .pp_nav
.pp_pause{background:url(/wp-content/themes/veles/images/prettyPhoto/light_rounded/sprite.png) -24px -100px no-repeat;height:15px;width:14px}div.light_rounded
.pp_arrow_previous{background:url(/wp-content/themes/veles/images/prettyPhoto/light_rounded/sprite.png) 0 -71px no-repeat}div.light_rounded
.pp_arrow_next{background:url(/wp-content/themes/veles/images/prettyPhoto/light_rounded/sprite.png) -22px -71px no-repeat}div.light_rounded .pp_bottom
.pp_left{background:url(/wp-content/themes/veles/images/prettyPhoto/light_rounded/sprite.png) -88px -80px no-repeat}div.light_rounded .pp_bottom
.pp_right{background:url(/wp-content/themes/veles/images/prettyPhoto/light_rounded/sprite.png) -110px -80px no-repeat}div.dark_rounded .pp_top
.pp_left{background:url(/wp-content/themes/veles/images/prettyPhoto/dark_rounded/sprite.png) -88px -53px no-repeat}div.dark_rounded .pp_top
.pp_right{background:url(/wp-content/themes/veles/images/prettyPhoto/dark_rounded/sprite.png) -110px -53px no-repeat}div.dark_rounded .pp_content_container
.pp_left{background:url(/wp-content/themes/veles/images/prettyPhoto/dark_rounded/contentPattern.png) top left repeat-y}div.dark_rounded .pp_content_container
.pp_right{background:url(/wp-content/themes/veles/images/prettyPhoto/dark_rounded/contentPattern.png) top right repeat-y}div.dark_rounded .pp_next:hover{background:url(/wp-content/themes/veles/images/prettyPhoto/dark_rounded/btnNext.png) center right no-repeat;cursor:pointer}div.dark_rounded .pp_previous:hover{background:url(/wp-content/themes/veles/images/prettyPhoto/dark_rounded/btnPrevious.png) center left no-repeat;cursor:pointer}div.dark_rounded
.pp_expand{background:url(/wp-content/themes/veles/images/prettyPhoto/dark_rounded/sprite.png) -31px -26px no-repeat;cursor:pointer}div.dark_rounded .pp_expand:hover{background:url(/wp-content/themes/veles/images/prettyPhoto/dark_rounded/sprite.png) -31px -47px no-repeat;cursor:pointer}div.dark_rounded
.pp_contract{background:url(/wp-content/themes/veles/images/prettyPhoto/dark_rounded/sprite.png) 0 -26px no-repeat;cursor:pointer}div.dark_rounded .pp_contract:hover{background:url(/wp-content/themes/veles/images/prettyPhoto/dark_rounded/sprite.png) 0 -47px no-repeat;cursor:pointer}div.dark_rounded
.pp_close{background:url(/wp-content/themes/veles/images/prettyPhoto/dark_rounded/sprite.png) -1px -1px no-repeat;cursor:pointer;height:22px;width:75px}div.dark_rounded
.pp_description{color:#fff;margin-right:85px}div.dark_rounded .pp_nav
.pp_play{background:url(/wp-content/themes/veles/images/prettyPhoto/dark_rounded/sprite.png) -1px -100px no-repeat;height:15px;width:14px}div.dark_rounded .pp_nav
.pp_pause{background:url(/wp-content/themes/veles/images/prettyPhoto/dark_rounded/sprite.png) -24px -100px no-repeat;height:15px;width:14px}div.dark_rounded
.pp_arrow_previous{background:url(/wp-content/themes/veles/images/prettyPhoto/dark_rounded/sprite.png) 0 -71px no-repeat}div.dark_rounded
.pp_arrow_next{background:url(/wp-content/themes/veles/images/prettyPhoto/dark_rounded/sprite.png) -22px -71px no-repeat}div.dark_rounded .pp_bottom
.pp_left{background:url(/wp-content/themes/veles/images/prettyPhoto/dark_rounded/sprite.png) -88px -80px no-repeat}div.dark_rounded .pp_bottom
.pp_right{background:url(/wp-content/themes/veles/images/prettyPhoto/dark_rounded/sprite.png) -110px -80px no-repeat}div.dark_rounded
.pp_loaderIcon{background:url(/wp-content/themes/veles/images/prettyPhoto/dark_rounded/loader.gif) center center no-repeat}div.dark_square .pp_left,div.dark_square .pp_middle,div.dark_square .pp_right,div.dark_square
.pp_content{background:#000}div.dark_square
.pp_description{color:#fff;margin:0
85px 0 0}div.dark_square
.pp_loaderIcon{background:url(/wp-content/themes/veles/images/prettyPhoto/dark_square/loader.gif) center center no-repeat}div.dark_square
.pp_expand{background:url(/wp-content/themes/veles/images/prettyPhoto/dark_square/sprite.png) -31px -26px no-repeat;cursor:pointer}div.dark_square .pp_expand:hover{background:url(/wp-content/themes/veles/images/prettyPhoto/dark_square/sprite.png) -31px -47px no-repeat;cursor:pointer}div.dark_square
.pp_contract{background:url(/wp-content/themes/veles/images/prettyPhoto/dark_square/sprite.png) 0 -26px no-repeat;cursor:pointer}div.dark_square .pp_contract:hover{background:url(/wp-content/themes/veles/images/prettyPhoto/dark_square/sprite.png) 0 -47px no-repeat;cursor:pointer}div.dark_square
.pp_close{background:url(/wp-content/themes/veles/images/prettyPhoto/dark_square/sprite.png) -1px -1px no-repeat;cursor:pointer;height:22px;width:75px}div.dark_square
.pp_nav{clear:none}div.dark_square .pp_nav
.pp_play{background:url(/wp-content/themes/veles/images/prettyPhoto/dark_square/sprite.png) -1px -100px no-repeat;height:15px;width:14px}div.dark_square .pp_nav
.pp_pause{background:url(/wp-content/themes/veles/images/prettyPhoto/dark_square/sprite.png) -24px -100px no-repeat;height:15px;width:14px}div.dark_square
.pp_arrow_previous{background:url(/wp-content/themes/veles/images/prettyPhoto/dark_square/sprite.png) 0 -71px no-repeat}div.dark_square
.pp_arrow_next{background:url(/wp-content/themes/veles/images/prettyPhoto/dark_square/sprite.png) -22px -71px no-repeat}div.dark_square .pp_next:hover{background:url(/wp-content/themes/veles/images/prettyPhoto/dark_square/btnNext.png) center right no-repeat;cursor:pointer}div.dark_square .pp_previous:hover{background:url(/wp-content/themes/veles/images/prettyPhoto/dark_square/btnPrevious.png) center left no-repeat;cursor:pointer}div.light_square
.pp_expand{background:url(/wp-content/themes/veles/images/prettyPhoto/light_square/sprite.png) -31px -26px no-repeat;cursor:pointer}div.light_square .pp_expand:hover{background:url(/wp-content/themes/veles/images/prettyPhoto/light_square/sprite.png) -31px -47px no-repeat;cursor:pointer}div.light_square
.pp_contract{background:url(/wp-content/themes/veles/images/prettyPhoto/light_square/sprite.png) 0 -26px no-repeat;cursor:pointer}div.light_square .pp_contract:hover{background:url(/wp-content/themes/veles/images/prettyPhoto/light_square/sprite.png) 0 -47px no-repeat;cursor:pointer}div.light_square
.pp_close{background:url(/wp-content/themes/veles/images/prettyPhoto/light_square/sprite.png) -1px -1px no-repeat;cursor:pointer;height:22px;width:75px}div.light_square .pp_nav
.pp_play{background:url(/wp-content/themes/veles/images/prettyPhoto/light_square/sprite.png) -1px -100px no-repeat;height:15px;width:14px}div.light_square .pp_nav
.pp_pause{background:url(/wp-content/themes/veles/images/prettyPhoto/light_square/sprite.png) -24px -100px no-repeat;height:15px;width:14px}div.light_square
.pp_arrow_previous{background:url(/wp-content/themes/veles/images/prettyPhoto/light_square/sprite.png) 0 -71px no-repeat}div.light_square
.pp_arrow_next{background:url(/wp-content/themes/veles/images/prettyPhoto/light_square/sprite.png) -22px -71px no-repeat}div.light_square .pp_next:hover{background:url(/wp-content/themes/veles/images/prettyPhoto/light_square/btnNext.png) center right no-repeat;cursor:pointer}div.light_square .pp_previous:hover{background:url(/wp-content/themes/veles/images/prettyPhoto/light_square/btnPrevious.png) center left no-repeat;cursor:pointer}div.facebook .pp_top
.pp_left{background:url(/wp-content/themes/veles/images/prettyPhoto/facebook/sprite.png) -88px -53px no-repeat}div.facebook .pp_top
.pp_middle{background:url(/wp-content/themes/veles/images/prettyPhoto/facebook/contentPatternTop.png) top left repeat-x}div.facebook .pp_top
.pp_right{background:url(/wp-content/themes/veles/images/prettyPhoto/facebook/sprite.png) -110px -53px no-repeat}div.facebook .pp_content_container
.pp_left{background:url(/wp-content/themes/veles/images/prettyPhoto/facebook/contentPatternLeft.png) top left repeat-y}div.facebook .pp_content_container
.pp_right{background:url(/wp-content/themes/veles/images/prettyPhoto/facebook/contentPatternRight.png) top right repeat-y}div.facebook
.pp_expand{background:url(/wp-content/themes/veles/images/prettyPhoto/facebook/sprite.png) -31px -26px no-repeat;cursor:pointer}div.facebook .pp_expand:hover{background:url(/wp-content/themes/veles/images/prettyPhoto/facebook/sprite.png) -31px -47px no-repeat;cursor:pointer}div.facebook
.pp_contract{background:url(/wp-content/themes/veles/images/prettyPhoto/facebook/sprite.png) 0 -26px no-repeat;cursor:pointer}div.facebook .pp_contract:hover{background:url(/wp-content/themes/veles/images/prettyPhoto/facebook/sprite.png) 0 -47px no-repeat;cursor:pointer}div.facebook
.pp_close{background:url(/wp-content/themes/veles/images/prettyPhoto/facebook/sprite.png) -1px -1px no-repeat;cursor:pointer;height:22px;width:22px}div.facebook
.pp_description{margin:0
37px 0 0}div.facebook
.pp_loaderIcon{background:url(/wp-content/themes/veles/images/prettyPhoto/facebook/loader.gif) center center no-repeat}div.facebook
.pp_arrow_previous{background:url(/wp-content/themes/veles/images/prettyPhoto/facebook/sprite.png) 0 -71px no-repeat;height:22px;margin-top:0;width:22px}div.facebook
.pp_arrow_previous.disabled{background-position:0 -96px;cursor:default}div.facebook
.pp_arrow_next{background:url(/wp-content/themes/veles/images/prettyPhoto/facebook/sprite.png) -32px -71px no-repeat;height:22px;margin-top:0;width:22px}div.facebook
.pp_arrow_next.disabled{background-position:-32px -96px;cursor:default}div.facebook
.pp_nav{margin-top:0}div.facebook .pp_nav
p{font-size:15px;padding:0
3px 0 4px}div.facebook .pp_nav
.pp_play{background:url(/wp-content/themes/veles/images/prettyPhoto/facebook/sprite.png) -1px -123px no-repeat;height:22px;width:22px}div.facebook .pp_nav
.pp_pause{background:url(/wp-content/themes/veles/images/prettyPhoto/facebook/sprite.png) -32px -123px no-repeat;height:22px;width:22px}div.facebook .pp_next:hover{background:url(/wp-content/themes/veles/images/prettyPhoto/facebook/btnNext.png) center right no-repeat;cursor:pointer}div.facebook .pp_previous:hover{background:url(/wp-content/themes/veles/images/prettyPhoto/facebook/btnPrevious.png) center left no-repeat;cursor:pointer}div.facebook .pp_bottom
.pp_left{background:url(/wp-content/themes/veles/images/prettyPhoto/facebook/sprite.png) -88px -80px no-repeat}div.facebook .pp_bottom
.pp_middle{background:url(/wp-content/themes/veles/images/prettyPhoto/facebook/contentPatternBottom.png) top left repeat-x}div.facebook .pp_bottom
.pp_right{background:url(/wp-content/themes/veles/images/prettyPhoto/facebook/sprite.png) -110px -80px no-repeat}div.pp_pic_holder a:focus{outline:none}div.pp_overlay{background:#000;display:none;left:0;position:absolute;top:0;width:100%;z-index:9500}div.pp_pic_holder{display:none;position:absolute;width:100px;z-index:10000}.pp_content{height:40px;min-width:40px}* html
.pp_content{width:40px}.pp_content_container{position:relative;text-align:left;width:100%}.pp_content_container
.pp_left{padding-left:20px}.pp_content_container
.pp_right{padding-right:20px}.pp_content_container
.pp_details{float:left;margin:10px
0 2px}.pp_description{display:none;margin:0}.pp_social{float:left;margin:0}.pp_social
.facebook{float:left;margin-left:5px;overflow:hidden;width:55px}.pp_social
.twitter{float:left}.pp_nav{clear:right;float:left;margin:3px
10px 0 0}.pp_nav
p{float:left;margin:2px
4px;white-space:nowrap}.pp_nav .pp_play,.pp_nav
.pp_pause{float:left;margin-right:4px;text-indent:-10000px}a.pp_arrow_previous,a.pp_arrow_next{display:block;float:left;height:15px;margin-top:3px;overflow:hidden;text-indent:-10000px;width:14px}.pp_hoverContainer{position:absolute;top:0;width:100%;z-index:2000}.pp_gallery{display:none;left:50%;margin-top:-50px;position:absolute;z-index:10000}.pp_gallery
div{float:left;overflow:hidden;position:relative}.pp_gallery
ul{float:left;height:35px;margin:0
0 0 5px;padding:0;position:relative;white-space:nowrap}.pp_gallery ul
a{border:1px
rgba(0,0,0,0.5) solid;display:block;float:left;height:33px;overflow:hidden}.pp_gallery ul a
img{border:0}.pp_gallery
li{display:block;float:left;margin:0
5px 0 0;padding:0}.pp_gallery li.default
a{background:url(/wp-content/themes/veles/images/prettyPhoto/facebook/default_thumbnail.gif) 0 0 no-repeat;display:block;height:33px;width:50px}.pp_gallery .pp_arrow_previous,.pp_gallery
.pp_arrow_next{margin-top:7px!important}a.pp_next{background:url(/wp-content/themes/veles/images/prettyPhoto/light_rounded/btnNext.png) 10000px 10000px no-repeat;display:block;float:right;height:100%;text-indent:-10000px;width:49%}a.pp_previous{background:url(/wp-content/themes/veles/images/prettyPhoto/light_rounded/btnNext.png) 10000px 10000px no-repeat;display:block;float:left;height:100%;text-indent:-10000px;width:49%}a.pp_expand,a.pp_contract{cursor:pointer;display:none;height:20px;position:absolute;right:30px;text-indent:-10000px;top:10px;width:20px;z-index:20000}a.pp_close{display:block;line-height:22px;position:absolute;right:0;text-indent:-10000px;top:0}.pp_loaderIcon{display:block;height:24px;left:50%;margin:-12px 0 0 -12px;position:absolute;top:50%;width:24px}#pp_full_res{line-height:1!important}#pp_full_res
.pp_inline{text-align:left}#pp_full_res .pp_inline
p{margin:0
0 15px}div.ppt{color:#fff;display:none;font-size:17px;margin:0
0 5px 15px;z-index:9999}div.pp_default .pp_content,div.light_rounded
.pp_content{background-color:#fff}div.pp_default #pp_full_res .pp_inline,div.light_rounded .pp_content .ppt,div.light_rounded #pp_full_res .pp_inline,div.light_square .pp_content .ppt,div.light_square #pp_full_res .pp_inline,div.facebook .pp_content .ppt,div.facebook #pp_full_res
.pp_inline{color:#000}div.pp_default .pp_gallery ul li a:hover,div.pp_default .pp_gallery ul li.selected a,.pp_gallery ul a:hover,.pp_gallery li.selected
a{border-color:#fff}div.pp_default .pp_details,div.light_rounded .pp_details,div.dark_rounded .pp_details,div.dark_square .pp_details,div.light_square .pp_details,div.facebook
.pp_details{position:relative}div.light_rounded .pp_top .pp_middle,div.light_rounded .pp_content_container .pp_left,div.light_rounded .pp_content_container .pp_right,div.light_rounded .pp_bottom .pp_middle,div.light_square .pp_left,div.light_square .pp_middle,div.light_square .pp_right,div.light_square .pp_content,div.facebook
.pp_content{background:#fff}div.light_rounded .pp_description,div.light_square
.pp_description{margin-right:85px}div.light_rounded .pp_gallery a.pp_arrow_previous,div.light_rounded .pp_gallery a.pp_arrow_next,div.dark_rounded .pp_gallery a.pp_arrow_previous,div.dark_rounded .pp_gallery a.pp_arrow_next,div.dark_square .pp_gallery a.pp_arrow_previous,div.dark_square .pp_gallery a.pp_arrow_next,div.light_square .pp_gallery a.pp_arrow_previous,div.light_square .pp_gallery
a.pp_arrow_next{margin-top:12px!important}div.light_rounded .pp_arrow_previous.disabled,div.dark_rounded .pp_arrow_previous.disabled,div.dark_square .pp_arrow_previous.disabled,div.light_square
.pp_arrow_previous.disabled{background-position:0 -87px;cursor:default}div.light_rounded .pp_arrow_next.disabled,div.dark_rounded .pp_arrow_next.disabled,div.dark_square .pp_arrow_next.disabled,div.light_square
.pp_arrow_next.disabled{background-position:-22px -87px;cursor:default}div.light_rounded .pp_loaderIcon,div.light_square
.pp_loaderIcon{background:url(/wp-content/themes/veles/images/prettyPhoto/light_rounded/loader.gif) center center no-repeat}div.dark_rounded .pp_top .pp_middle,div.dark_rounded .pp_content,div.dark_rounded .pp_bottom
.pp_middle{background:url(/wp-content/themes/veles/images/prettyPhoto/dark_rounded/contentPattern.png) top left repeat}div.dark_rounded .currentTextHolder,div.dark_square
.currentTextHolder{color:#c4c4c4}div.dark_rounded #pp_full_res .pp_inline,div.dark_square #pp_full_res
.pp_inline{color:#fff}.pp_top,.pp_bottom{height:20px;position:relative}* html .pp_top,* html
.pp_bottom{padding:0
20px}.pp_top .pp_left,.pp_bottom
.pp_left{height:20px;left:0;position:absolute;width:20px}.pp_top .pp_middle,.pp_bottom
.pp_middle{height:20px;left:20px;position:absolute;right:20px}* html .pp_top .pp_middle,* html .pp_bottom
.pp_middle{left:0;position:static}.pp_top .pp_right,.pp_bottom
.pp_right{height:20px;left:auto;position:absolute;right:0;top:0;width:20px}.pp_fade,.pp_gallery li.default a
img{display:none}body{background-color:#fff;background-image:url('/wp-content/themes/veles/images/main_bg.jpg');background-repeat:repeat;text-shadow:none;font-family:Arial,Helvetica,sans-serif;color:#555;font-size:12px;line-height:1.65em}::selection{background:#C21A01;color:#fff;text-shadow:none}::-moz-selection{background:#C21A01;color:#fff;text-shadow:none}img::selection{background:transparent}img::-moz-selection{background:transparent}h1,h2,h3,h4,h5,h6{color:#000;font-weight:bold}h1 a, h2 a, h3 a, h4 a, h5 a, h6
a{font-weight:inherit}h1{font-size:38px;line-height:50px;margin-bottom:10px}h2{font-size:32px;line-height:40px;margin-bottom:10px}h3{font-size:26px;line-height:23px;margin-bottom:15px}h4{font-size:20px;line-height:28px;margin-bottom:4px}h5{font-size:16px;line-height:24px;margin-bottom:4px}h6{font-size:14px;line-height:21px}p{margin:0
0 20px 0}.small{font-size:90%}p
img{margin:0}.em{font-style:italic;color:#777;margin-top:3px}.strong{font-weight:bold;color:#333}.small-italic{font-size:90%;font-style:italic;font-weight:normal}.uppercase{text-transform:uppercase}.center{text-align:center !important}.m20{margin-top:20px}.container{width:940px;margin:0
auto;position:relative}.marginx{margin-top:20px !important}div.span-1,div.span-2,div.span-3,div.span-4,div.span-5,div.span-6,div.span-7,div.span-8,div.span-9,div.span-10,div.span-11,div.span-12,div.span-13,div.span-14,div.span-15,div.span-16,div.span-17,div.span-18,div.span-19,div.span-20,div.span-21,div.span-22,div.span-23,div.span-24{float:left;margin-right:20px;margin-top:35px}.columns .span-1, .columns .span-2, .columns .span-3, .columns .span-4, .columns .span-5, .columns .span-6, .columns .span-7, .columns .span-8, .columns .span-9, .columns .span-10, .columns .span-11, .columns .span-12, .columns .span-13, .columns .span-14, .columns .span-15, .columns .span-16, .columns .span-17, .columns .span-18, .columns .span-19, .columns .span-20, .columns .span-21, .columns .span-22, .columns .span-23, .columns .span-24{height:30px;background:#ededed;text-align:center;margin-top:10px !important;padding-top:10px}p.span-1,p.span-2,p.span-3,p.span-4,p.span-5,p.span-6,p.span-7,p.span-8,p.span-9,p.span-10,p.span-11,p.span-12,p.span-13,p.span-14,p.span-15,p.span-16,p.span-17,p.span-18,p.span-19,p.span-20,p.span-21,p.span-22,p.span-23,p.span-24{float:left;margin-right:20px;margin-top:30px}div.last{margin-right:0}.span-1{width:20px}.span-2{width:60px}.span-3{width:100px}.span-4{width:140px}.span-5{width:180px}.span-6{width:220px}.span-7{width:260px}.span-8{width:300px}.span-9{width:340px}.span-10{width:380px}.span-11{width:420px}.span-12{width:460px}.span-13{width:500px}.span-14{width:540px}.span-15{width:580px}.span-16{width:620px}.span-17{width:660px}.span-18{width:700px}.span-19{width:740px}.span-20{width:780px}.span-21{width:820px}.span-22{width:860px}.span-23{width:900px}.span-24{width:940px}.notopmargin{margin-top:0px !important}.nobottommargin{margin-bottom:0px !important}.last{margin-right:0px !important}.left{float:left !important}.right{float:right}.clear{clear:both}.margin15{margin-top:15px !important}.red{color:#f00}.top_line{height:25px;padding-top:1px;background:#35405f;border-bottom:1px solid #000}.comment-reply-link{content:'R123a'}.comment-reply-link{width:70px;height:20px;display:block;color:#111;font-size:11px;padding-left:10px;background-image:url(/wp-content/themes/veles/images/read_more.png);background-repeat:no-repeat;background-position:0px 5px;-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out}.comment-reply-link:hover{color:#f00;padding-left:0px;padding-right:12px;text-decoration:none !important;background-image:url(/wp-content/themes/veles/images/read_more_hover.png);background-position:57px 5px;-o-background-position:57px 5px !important;-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out}.comment .button_readmore:hover, .comment .comment-reply-link:hover{background-position:40px 5px}.mb30{margin-bottom:30px}.m15{margin-top:15px !important}.sf-sub-indicator{position:absolute;display:block;right:2px;top:40px;width:10px;height:20px;text-indent:-999em;overflow:hidden;background:url('/wp-content/themes/veles/images/arrows.png') no-repeat -10px -100px;-webkit-transition:all 0.1s ease-in-out;-moz-transition:all 0.1s ease-in-out;-ms-transition:all 0.1s ease-in-out;-o-transition:all 0.1s ease-in-out;transition:all 0.1s ease-in-out;-webkit-transition-delay:0.1s;-moz-transition-delay:0.1s;-ms-transition-delay:0.1s;-o-transition-delay:0.1s;transition-delay:0.1s}a>.sf-sub-indicator{top:9px;background-position:0 -100px;-webkit-transition:all 0.1s ease-in-out;-moz-transition:all 0.1s ease-in-out;-ms-transition:all 0.1s ease-in-out;-o-transition:all 0.1s ease-in-out;transition:all 0.1s ease-in-out;-webkit-transition-delay:0.1s;-moz-transition-delay:0.1s;-ms-transition-delay:0.1s;-o-transition-delay:0.1s;transition-delay:0.1s}a:focus>.sf-sub-indicator,a:hover>.sf-sub-indicator,a:active>.sf-sub-indicator,li:hover>a>.sf-sub-indicator,li.sfHover>a>.sf-sub-indicator{background-position:-10px -100px;-webkit-transition:all 0.1s ease-in-out;-moz-transition:all 0.1s ease-in-out;-ms-transition:all 0.1s ease-in-out;-o-transition:all 0.1s ease-in-out;transition:all 0.1s ease-in-out;-webkit-transition-delay:0.1s;-moz-transition-delay:0.1s;-ms-transition-delay:0.1s;-o-transition-delay:0.1s;transition-delay:0.1s}.menu ul .sf-sub-indicator{background-position:-10px 0;-webkit-transition:all 0.1s ease-in-out;-moz-transition:all 0.1s ease-in-out;-ms-transition:all 0.1s ease-in-out;-o-transition:all 0.1s ease-in-out;transition:all 0.1s ease-in-out;-webkit-transition-delay:0.1s;-moz-transition-delay:0.1s;-ms-transition-delay:0.1s;-o-transition-delay:0.1s;transition-delay:0.1s}.menu ul a>.sf-sub-indicator{background-position:0 0;-webkit-transition:all 0.1s ease-in-out;-moz-transition:all 0.1s ease-in-out;-ms-transition:all 0.1s ease-in-out;-o-transition:all 0.1s ease-in-out;transition:all 0.1s ease-in-out;-webkit-transition-delay:0.1s;-moz-transition-delay:0.1s;-ms-transition-delay:0.1s;-o-transition-delay:0.1s;transition-delay:0.1s}.menu ul a:focus > .sf-sub-indicator,
.menu ul a:hover > .sf-sub-indicator,
.menu ul a:active > .sf-sub-indicator,
.menu ul li:hover > a > .sf-sub-indicator,
.menu ul li.sfHover>a>.sf-sub-indicator{background-position:-10px 0;-webkit-transition:all 0.1s ease-in-out;-moz-transition:all 0.1s ease-in-out;-ms-transition:all 0.1s ease-in-out;-o-transition:all 0.1s ease-in-out;transition:all 0.1s ease-in-out;-webkit-transition-delay:0.1s;-moz-transition-delay:0.1s;-ms-transition-delay:0.1s;-o-transition-delay:0.1s;transition-delay:0s}.menu, .menu
ul{float:right;margin:0;padding:0;list-style:none}.menu{padding-left:0px;margin-top:20px}.menu:before,.menu:after{content:"";display:table}.menu:after{clear:both}.menu{zoom:1}.menu
li{float:left;position:relative;margin-left:15px}.menu li
li{margin-left:0px}.menu li:last-child{border-right:none !important;-moz-box-shadow:0px 0 0 #444;-webkit-box-shadow:0px 0 0 #444;box-shadow:0px 0 0 #444}.menu
a{float:left;padding:8px
12px;color:#666;text-decoration:none;-webkit-transition:all 0.1s ease-in-out;-moz-transition:all 0.1s ease-in-out;-ms-transition:all 0.1s ease-in-out;-o-transition:all 0.1s ease-in-out;transition:all 0.1s ease-in-out;-webkit-transition-delay:0.05s;-moz-transition-delay:0.05s;-ms-transition-delay:0.05s;-o-transition-delay:0.05s;transition-delay:0.05s}.menu li li
a{color:#fff}.menu li:hover>a{color:#fff;background:#35405f;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;-webkit-transition:background-image 0.1s ease-in-out;-moz-transition:background-image 0.1s ease-in-out;-ms-transition:background-image 0.1s ease-in-out;-o-transition:background-image 0.1s ease-in-out;transition:background-image 0.1s ease-in-out;text-decoration:none}.menu li li:hover>a{-moz-border-radius:0px;-webkit-border-radius:0px;border-radius:0px;text-decoration:none}*html .menu li a:hover{color:#fff}.current-menu-item>a{color:#fff;background:#35405f;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px}.menu
ul{font-size:12px;_margin:0;opacity:0;visibility:hidden;position:absolute;top:46px;left:0;z-index:9999;background:rgb(53,64,95);background:-moz-linear-gradient(top,  rgb(53,64,95) 0%, rgb(34,41,61) 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(53,64,95)), color-stop(100%,rgb(34,41,61)));background:-webkit-linear-gradient(top,  rgb(53,64,95) 0%,rgb(34,41,61) 100%);background:-o-linear-gradient(top,  rgb(53,64,95) 0%,rgba(34,41,61) 100%);background:-ms-linear-gradient(top,  rgb(53,64,95) 0%,rgba(34,41,61) 100%);background:linear-gradient(top,  rgb(53,64,95) 0%,rgba(34,41,61) 100%);-moz-box-shadow:0 -1px rgba(255,255,255,.3);-webkit-box-shadow:0 -1px 0 rgba(255,255,255,.3);box-shadow:0 -1px 0 rgba(255,255,255,.3);-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;-webkit-transition:all 0.1s ease-in-out;-moz-transition:all 0.1s ease-in-out;-ms-transition:all 0.1s ease-in-out;-o-transition:all 0.1s ease-in-out;transition:all 0.1s ease-in-out}.menu li:hover>ul{opacity:1;visibility:visible;margin:0}.menu ul
ul{top:0;left:165px;margin:0
0 0 20px;_margin:0;-moz-box-shadow:-1px 0 0 rgba(255,255,255,.3);-webkit-box-shadow:-1px 0 0 rgba(255,255,255,.3);box-shadow:-1px 0 0 rgba(255,255,255,.3)}.menu ul
li{float:none;display:block;border:0;_line-height:0;-moz-box-shadow:0 1px 0 #22293D, 0 2px 0 #666;-webkit-box-shadow:0 1px 0 #22293D, 0 2px 0 #666;box-shadow:0 1px 0 #22293D, 0 2px 0 #666}.menu ul li:last-child{-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none}.menu ul
a{padding:8px;font-size:11px;width:140px;_height:8px;display:block;white-space:nowrap;float:none;text-transform:none}.menu ul a:hover{background-color:#6276ac;background-image:-moz-linear-gradient(#6276ac,  #50608e);background-image:-webkit-gradient(linear, left top, left bottom, from(#6276ac), to(#50608e));background-image:-webkit-linear-gradient(#6276ac, #50608e);background-image:-o-linear-gradient(#6276ac, #50608e);background-image:-ms-linear-gradient(#6276ac, #50608e);background-image:linear-gradient(#6276ac, #50608e);text-shadow:0px 1px #333}.menu ul li:first-child>a{-moz-border-radius:3px 3px 0 0;-webkit-border-radius:3px 3px 0 0;border-radius:3px 3px 0 0}.menu ul li:first-child>a:after{content:'';position:absolute;left:10px;top:-6px;border-left:6px solid transparent;border-right:6px solid transparent;border-bottom:6px solid #444;-webkit-transition:all 0.1s ease-in-out;-moz-transition:all 0.1s ease-in-out;-ms-transition:all 0.1s ease-in-out;-o-transition:all 0.1s ease-in-out;transition:all 0.1s ease-in-out;-webkit-transition-delay:0.05s;-moz-transition-delay:0.05s;-ms-transition-delay:0.05s;-o-transition-delay:0.05s;transition-delay:0.05s}.menu ul ul li:first-child a:after{left:-6px;top:50%;margin-top:-6px;border-left:0;border-bottom:6px solid transparent;border-top:6px solid transparent;border-right:6px solid #444}.menu ul li:first-child a:hover:after{border-bottom-color:#6276ac;-webkit-transition:all 0s ease-in-out;-moz-transition:all 0s ease-in-out;-ms-transition:all 0s ease-in-out;-o-transition:all 0s ease-in-out;transition:all 0s ease-in-out;-webkit-transition-delay:0s;-moz-transition-delay:0s;-ms-transition-delay:0s;-o-transition-delay:0s;transition-delay:0s}.menu ul ul li:first-child a:hover:after{border-right-color:#6276ac;border-bottom-color:transparent}.menu ul li:last-child>a{-moz-border-radius:0 0 3px 3px;-webkit-border-radius:0 0 3px 3px;border-radius:0 0 3px 3px}ul li .current-menu-item>a{color:#fff !important;background-color:#6276ac;background-image:-moz-linear-gradient(#6276ac,  #50608e);background-image:-webkit-gradient(linear, left top, left bottom, from(#6276ac), to(#50608e));background-image:-webkit-linear-gradient(#6276ac, #50608e);background-image:-o-linear-gradient(#6276ac, #50608e);background-image:-ms-linear-gradient(#6276ac, #50608e);background-image:linear-gradient(#6276ac, #50608e);text-shadow:0px 1px #333;border-radius:0px;border-top:1px}.separator{height:1px;background-color:#eaeaea}.colored{color:#f00}h5>a{color:#f00}a{-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-ms-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out}a:hover{text-decoration:underline;color:#B11116}.black{color:#000}.my_asyncslider{list-style:none;background:url(/wp-content/themes/veles/images/transperent.png);margin:0px;padding:0px;padding-top:15px !important;padding-bottom:10px;border-top:1px solid #eae8e8;border-bottom:2px solid #ccc;z-index:100}.my_asyncslider
img{position:absolute}.my_asyncslider
.description{width:400px;float:right;margin-top:10px}.my_asyncslider .description
h2{margin-bottom:0px}.my_asyncslider .description
h4{margin-top:0px;margin-bottom:20px}.my_asyncslider .description
h5{margin-top:20px;text-transform:uppercase;margin-bottom:0px !important}#slide-01
.description{width:580px !important;margin-top:3px}.partner{float:left;margin-right:20px}.partner img, .clients
img{position:relative !important;border:1px
solid #eaeaea;-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out}.partner img:hover, .clients img:hover{border:1px
solid #f00;cursor:pointer;-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out}.welcome{font-weight:bolder;text-transform:uppercase;text-align:center;font-size:48px}.slogan{font-weight:100;color:#666;font-size:36px}.my_asyncslider .description ul
li{width:180px;font-size:11px;float:left;margin-right:20px;padding-bottom:3px;padding-top:3px;font-style:italic;border-bottom:1px solid #dedede}.my_asyncslider>div{min-height:400px;width:960px;margin:0
auto;display:block;padding:10px
0px}.my_asyncslider #slide-01{}.my_asyncslider #slide-02{}.my_asyncslider #slide-03{}#asyncslider_next_prev_nav{position:relative}#asyncslider_next_prev_nav
li{color:#000;position:absolute}#asyncslider_next_prev_nav li
a{width:32px;height:32px}#asyncslider_next_prev_nav li.prev
a{background:url(/wp-content/themes/veles/images/arrow-prev.png)}#asyncslider_next_prev_nav li.prev a:hover{background:url(/wp-content/themes/veles/images/arrow-prev-hover.png)}#asyncslider_next_prev_nav li.next
a{background-image:url(/wp-content/themes/veles/images/arrow-next.png)}#asyncslider_next_prev_nav li.next a:hover{background-image:url(/wp-content/themes/veles/images/arrow-next-hover.png)}#asyncslider_slides_nav{}#asyncslider_slides_nav
li{}#asyncslider_slides_nav li
a{}#asyncslider_slides_nav
li.active{}#asyncslider_slides_nav li.active
a{}.a-btn{margin-top:20px !important;background:rgb(53,64,95);background:-moz-linear-gradient(top,  rgba(53,64,95,1) 0%, rgba(34,41,61,1) 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(53,64,95,1)), color-stop(100%,rgba(34,41,61,1)));background:-webkit-linear-gradient(top,  rgba(53,64,95,1) 0%,rgba(34,41,61,1) 100%);background:-o-linear-gradient(top,  rgba(53,64,95,1) 0%,rgba(34,41,61,1) 100%);background:-ms-linear-gradient(top,  rgba(53,64,95,1) 0%,rgba(34,41,61,1) 100%);background:linear-gradient(top,  rgba(53,64,95,1) 0%,rgba(34,41,61,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#35405f', endColorstr='#22293d',GradientType=0 );padding:10px;display:inline-block;position:relative;border:1px
solid #111;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;float:left;clear:both;margin:10px
0px;overflow:hidden;-webkit-transition:box-shadow 0.3s ease-in-out;-moz-transition:box-shadow 0.3s ease-in-out;-o-transition:box-shadow 0.3s ease-in-out;transition:box-shadow 0.3s ease-in-out;font-size:14px;color:#f1f1f1;-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out}.a-btn:hover{text-decoration:none;background-color:#111;background-image:-moz-linear-gradient(#444,  #111);background-image:-webkit-gradient(linear, left top, left bottom,from(#444),to(#111));background-image:-webkit-linear-gradient(#444,#111);background-image:-o-linear-gradient(#444,#111);background-image:-ms-linear-gradient(#444,#111);background-image:linear-gradient(#444,#111);color:#FFF}.skills{margin-left:20px;width:240px;padding:19px;border:1px
solid white;background:#FAFAFA;box-shadow:0 0 2px rgba(0,0,0,.3);-webkit-box-shadow:0 0 2px rgba(0,0,0,.3);-moz-box-shadow:0 0 2px rgba(0,0,0,.3)}.skills
h4{background-color:#000;color:#FFF}.skills
h6{text-transform:uppercase}.skills
.last{margin-bottom:0px !important}.progress-bar{background-color:#f1f2f1;height:15px;padding:5px;margin:0px
0 20px 0;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px}.progress-bar
span{display:inline-block;height:100%;background-color:#777;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;-moz-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset;-webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset;box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset}.blue
span{background-color:#000}.stripes
span{-webkit-background-size:30px 30px;-moz-background-size:30px 30px;background-size:30px 30px;background-image:-webkit-gradient(linear, left top, right bottom,
color-stop(.25, rgba(255, 255, 255, .15)), color-stop(.25, transparent),
color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .15)),
color-stop(.75, rgba(255, 255, 255, .15)), color-stop(.75, transparent),
to(transparent));background-image:-webkit-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
transparent 75%, transparent);background-image:-moz-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
transparent 75%, transparent);background-image:-ms-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
transparent 75%, transparent);background-image:-o-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
transparent 75%, transparent);background-image:linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
transparent 75%, transparent);-webkit-animation:animate-stripes 3s linear infinite;-moz-animation:animate-stripes 3s linear infinite}.shine
span{position:relative}.shine span::after{content:'';opacity:0;position:absolute;top:0;right:0;bottom:0;left:0;background:#fff;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;-webkit-animation:animate-shine 2s ease-out infinite;-moz-animation:animate-shine 2s ease-out infinite}@-webkit-keyframes animate-shine{0%{opacity:0;width:0}50%{opacity: .5}100%{opacity:0;width:95%}}@-moz-keyframes animate-shine{0%{opacity:0;width:0}50%{opacity: .5}100%{opacity:0;width:95%}}-webkit-animation: animate-stripes 3s linear infinite;-moz-animation:animate-stripes 3s linear infinite}@-webkit-keyframes animate-stripes{0%{background-position:0 0}100%{background-position:60px 0}}@-moz-keyframes animate-stripes{0%{background-position:0 0}100%{background-position:60px 0}}.shine
span{position:relative}.shine span::after{content:'';opacity:0;position:absolute;top:0;right:0;bottom:0;left:0;background:#fff;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;-webkit-animation:animate-shine 2s ease-out infinite;-moz-animation:animate-shine 2s ease-out infinite}@-webkit-keyframes animate-shine{0%{opacity:0;width:0}50%{opacity: .5}100%{opacity:0;width:95%}}@-moz-keyframes animate-shine{0%{opacity:0;width:0}50%{opacity: .5}100%{opacity:0;width:95%}}.glow
span{-moz-box-shadow:0 5px 5px rgba(255, 255, 255, .7) inset, 0 -5px 5px rgba(255, 255, 255, .7) inset;-webkit-box-shadow:0 5px 5px rgba(255, 255, 255, .7) inset, 0 -5px 5px rgba(255, 255, 255, .7) inset;box-shadow:0 5px 5px rgba(255, 255, 255, .7) inset, 0 -5px 5px rgba(255, 255, 255, .7) inset;-webkit-animation:animate-glow 1s ease-out infinite;-moz-animation:animate-glow 1s ease-out infinite}@-webkit-keyframes animate-glow{0%{-webkit-box-shadow:0 5px 5px rgba(255, 255, 255, .7) inset, 0 -5px 5px rgba(255, 255, 255, .7) inset}50%{-webkit-box-shadow:0 5px 5px rgba(255, 255, 255, .3) inset, 0 -5px 5px rgba(255, 255, 255, .3) inset}100%{-webkit-box-shadow:0 5px 5px rgba(255, 255, 255, .7) inset, 0 -5px 5px rgba(255, 255, 255, .7) inset}}@-moz-keyframes animate-glow{0%{-moz-box-shadow:0 5px 5px rgba(255, 255, 255, .7) inset, 0 -5px 5px rgba(255, 255, 255, .7) inset}50%{-moz-box-shadow:0 5px 5px rgba(255, 255, 255, .3) inset, 0 -5px 5px rgba(255, 255, 255, .3) inset}100%{-moz-box-shadow:0 5px 5px rgba(255, 255, 255, .7) inset, 0 -5px 5px rgba(255, 255, 255, .7) inset}}.footer{margin-top:40px;border-top:1px solid #eaeaea;background-image:url(/wp-content/themes/veles/images/transperent.png);border-bottom:10px solid #111;padding-bottom:15px}.footer
p{font-size:11px}.footer_welcome{text-transform:uppercase;margin-bottom:0px;line-height:16px}.footer
.separator{margin-top:10px;margin-bottom:15px}.logo_area
h6{font-size:11px;text-transform:uppercase}.logo_area
img{margin-bottom:10px}#logo a:hover{text-decoration:none !important}#logo a
h3{margin-bottom:5px}.posts
a{font-size:11px}.footer
.blog_title{text-transform:uppercase;font-size:11px}.highlight{padding:3px;background:#000;color:#fff;text-align:center}.highlight
a{text-decoration:underline}.highlight a:hover{color:#f00}.tweet_list
p{font-size:11px}.tweet_intro,.tweet_outro{font-size:11px}#jstwitter
.tweet{padding-top:15px;font-size:11px;padding-right:5px}#jstwitter:first-child{border-top:none}#jstwitter .tweet
a{text-decoration:none;color:#f00}#jstwitter .tweet a:hover{text-decoration:underline}#jstwitter .tweet
.time{font-size:10px;font-style:italic;color:#999}.tweet-icon{height:26px;width:26px;background-image:url('/wp-content/themes/veles/images/social/t.png');background-position:-0px -0px;float:left;margin-top:8px;margin-right:20px}.tweet-icon:hover{height:26px;width:26px;background-image:url('/wp-content/themes/veles/images/social/t.png');background-position:-0px -26px}.facebook-icon{height:26px;width:26px;background-image:url('/wp-content/themes/veles/images/social/f.png');background-position:-0px -0px;float:left;margin-top:8px;margin-right:20px}.facebook-icon:hover{height:26px;width:26px;background-image:url('/wp-content/themes/veles/images/social/f.png');background-position:-0px -26px}.google-icon{height:26px;width:26px;background-image:url('/wp-content/themes/veles/images/social/g.png');background-position:-0px -0px;float:left;margin-top:8px;margin-right:20px}.google-icon:hover{height:26px;width:26px;background-image:url('/wp-content/themes/veles/images/social/g.png');background-position:-0px -26px}.vimeo-icon{height:26px;width:26px;background-image:url('/wp-content/themes/veles/images/social/v.png');background-position:-0px -0px;float:left;margin-top:8px;margin-right:20px}.vimeo-icon:hover{height:26px;width:26px;background-image:url('/wp-content/themes/veles/images/social/v.png');background-position:-0px -26px}.dribbble-icon{height:26px;width:26px;background-image:url('/wp-content/themes/veles/images/social/d.png');background-position:-0px -0px;float:left;margin-top:8px;margin-right:10px}.dribbble-icon:hover{height:26px;width:26px;background-image:url('/wp-content/themes/veles/images/social/d.png');background-position:-0px -26px}.feed-icon{height:26px;width:26px;background-image:url('/wp-content/themes/veles/images/social/feed_icon-1.png');float:left;margin-top:8px;margin-right:10px}.feed-icon:hover{height:26px;width:26px;background-image:url('/wp-content/themes/veles/images/social/feed_icon.png')}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}fieldset{margin:0;padding:0;border:0}input:focus,textarea:focus{outline:none}nav
ul{margin:0;padding:0;list-style:none;position:relative;float:right;background:#eee}nav
li{float:left}nav
#login{-moz-box-shadow:1px 0 0 #fff;-webkit-box-shadow:1px 0 0 #fff;box-shadow:1px 0 0 #fff}nav #login-trigger,
nav #signup
a{display:inline-block;*display:inline;*zoom:1;height:25px;line-height:25px;font-size:11px;padding:0
10px;text-decoration:none;color:#444;text-shadow:0 1px 0 #fff}nav #signup
a{-moz-border-radius:0 3px 3px 0;-webkit-border-radius:0 3px 3px 0;border-radius:0 3px 3px 0}nav #login-trigger{-moz-border-radius:3px 0 0 3px;-webkit-border-radius:3px 0 0 3px;border-radius:3px 0 0 3px}nav #login-trigger:hover,
nav #login .active,
nav #signup a:hover{background:#fff}nav #login-content{display:none;position:absolute;top:26px;right:0;z-index:999;background:#fff;padding:10px;-moz-box-shadow:0 2px 2px -1px rgba(0,0,0,.9);-webkit-box-shadow:0 2px 2px -1px rgba(0,0,0,.9);box-shadow:0 2px 2px -1px rgba(0,0,0,.9)}nav li #login-content{right:0;width:280px}#inputs
input{background:#ff1f1;padding:5px
4px;margin:0
0 5px 0;width:180px;border:1px
solid #ccc;font-size:11px}input:focus{background-color:#fff;border-color:#eaeaea;outline:none;-moz-box-shadow:0 0 0 1px #f00 inset;-webkit-box-shadow:0 0 0 1px #f00 inset;box-shadow:0 0 0 1px #f00 inset}#reset{margin-left:10px}#submit,#reset{background:rgb(53,64,95);background:-moz-linear-gradient(top,  rgba(53,64,95,1) 0%, rgba(34,41,61,1) 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(53,64,95,1)), color-stop(100%,rgba(34,41,61,1)));background:-webkit-linear-gradient(top,  rgba(53,64,95,1) 0%,rgba(34,41,61,1) 100%);background:-o-linear-gradient(top,  rgba(53,64,95,1) 0%,rgba(34,41,61,1) 100%);background:-ms-linear-gradient(top,  rgba(53,64,95,1) 0%,rgba(34,41,61,1) 100%);background:linear-gradient(top,  rgba(53,64,95,1) 0%,rgba(34,41,61,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#35405f', endColorstr='#22293d',GradientType=0 );-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;text-shadow:0 1px 0 rgba(0,0,0,.5);-moz-box-shadow:0 0 1px rgba(0, 0, 0, 0.3);-webkit-box-shadow:0 0 1px rgba(0, 0, 0, 0.3);box-shadow:0 0 1px rgba(0, 0, 0, 0.3);border:1px
solid #000;float:left;height:30px;padding:0;width:100px;cursor:pointer;color:#fff}#login-content
#submit{width:75px;height:26px;margin-top:0px !important;padding-top:0px;font-size:11px}#submit:hover,#reset:hover,#submit:focus,#reset:focus{background-color:#111;background-image:-moz-linear-gradient(#444,  #111);background-image:-webkit-gradient(linear, left top, left bottom, from(#444), to(#111));background-image:-webkit-linear-gradient(#444, #111);background-image:-o-linear-gradient(#444, #111);background-image:-ms-linear-gradient(#444, #111);background-image:linear-gradient(#444, #111);border:1px
solid #111}#submit:active,#reset:active{outline:none;-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.5) inset;-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.5) inset;box-shadow:0 1px 4px rgba(0, 0, 0, 0.5) inset}#submit::-moz-focus-inner,#reset::moz-focus-inner{border:none}#login
label{float:right;line-height:25px;font-size:11px}#login label
input{position:relative;top:2px;right:2px}.rss{float:left;font-size:11px;color:#f1f1f1;padding-top:3px;text-shadow:1px 1px #000}.subpage_title{margin-top:0px !important;padding-top:5px;padding-bottom:5px}.subpage_title{margin-bottom:0px !important;font-size:11px}.subpage_breadcrumbs_dv{width:20px;height:17px;background:url(/wp-content/themes/veles/images/dv.png);float:left;background-position:center;background-repeat:no-repeat}.home_icon{background-image:url(/wp-content/themes/veles/images/home.png);width:16px;height:16px;float:left}.subpage_block{display:block;float:left;color:#666}.subpage_block:hover{color:#f00}.home_icon:hover{background-image:url(/wp-content/themes/veles/images/home_hover.png)}.subpage_title
.sep{float:left;margin-left:5px;margin-right:5px}.why
h4{margin-bottom:10px}.service{padding:15px;width:588px !important;overflow:hidden;border-width:1px;border-style:solid;border-color:#eaeaea;background-image:url(/wp-content/themes/veles/images/transperent.png)}.service_full{padding:15px;width:910px !important;overflow:hidden;border-width:1px;border-style:solid;border-color:#eaeaea;background-image:url(/wp-content/themes/veles/images/transperent.png)}.service h4, .service_full
h4{color:#FFF;background:#000;text-align:center;margin-bottom:25px}.service
img{float:left}.testimonialrotator{position:relative}.testimonialrotator
.testimonial{position:absolute;top:0;left:0;display:none}.testimonialrotator .testimonial:first-child{position:relative;display:block}.testimonial
span{font-style:italic}.testimonial .the-author{color:#000;margin-top:15px;font-weight:bold}.dropcap{float:left;font-size:36px;margin:10px
6px 1px 0}.dropcap2{border-radius:30px 30px 30px 30px;-moz-border-radius:30px;-webkit-border-radius:30px;-o-border-radius:30px;text-shadow:1px 1px #393b3f;background-color:#393b3f;color:#FFF;display:block;float:left;font-size:25px;height:20px;margin:5px
10px 0 0;padding:13px
10px 13px 12px;text-align:center;vertical-align:bottom;width:25px}.dropcap3{background-color:#393b3f;color:#FFF;text-shadow:1px 1px #393b3f;display:block;float:left;font-size:25px;height:20px;margin:5px
10px 0 0;padding:13px
10px 13px 12px;text-align:center;vertical-align:bottom;width:25px}.dropcap4{border-radius:30px;-moz-border-radius:30px;-webkit-border-radius:30px;-o-border-radius:30px;background-color:#fff;color:#393b3f;display:block;float:left;font-size:25px;height:20px;margin:5px
10px 0 0;padding:13px
10px 13px 12px;text-align:center;vertical-align:bottom;width:25px}.dropcap5{background-color:#fff;color:#393b3f;display:block;float:left;font-size:25px;height:20px;margin:5px
10px 0 0;padding:13px
10px 13px 12px;text-align:center;vertical-align:bottom;width:25px}.blockquote1{padding-left:20px;border-left:1px solid;font-size:11px;font-style:italic}.blockquote2{padding-left:20px;border-left:1px dotted;font-size:11px;font-style:italic}.blockquote3{padding-left:20px;padding-right:20px;border-left:2px  dashed;border-right:2px dashed;font-size:11px;font-style:italic}.blockquote4{border-top:1px dotted;padding-top:10px;padding-bottom:10px;border-bottom:1px dotted;font-size:11px;font-style:italic}.blockquote5{padding:10px;border:1px
solid;font-size:11px;font-style:italic}.blockquote6{padding-left:70px;background-image:url('/wp-content/themes/veles/images/blockquote6.png');background-repeat:no-repeat;background-position:left;font-size:11px;font-style:italic}.blockquote7{padding-left:70px;background-image:url('/wp-content/themes/veles/images/blockquote7.png');background-repeat:no-repeat;background-position:left;font-size:11px;font-style:italic}.blockquote8{padding-left:70px;background-image:url('/wp-content/themes/veles/images/blockquote8.png');background-repeat:no-repeat;background-position:left;font-size:11px;font-style:italic}.blockquote9{padding-left:70px;background-image:url('/wp-content/themes/veles/images/blockquote9.png');background-repeat:no-repeat;background-position:left;font-size:11px;font-style:italic}.section{background:#fff}ul.tabs{height:28px;line-height:25px;list-style:none;border-bottom:1px solid #DDD;background:#f3f3f3}.tabs
li{float:left;display:inline;margin:0
1px -1px 0;padding:0
13px 1px;cursor:pointer;background:#fff;border:1px
solid #e9e9e9;border-bottom:1px solid #f9f9f9;position:relative;color:#333}.tabs li:hover,
.vertical .tabs li:hover{padding:0
13px;background:#ededed;border:1px
solid #e4e4e4;-webkit-transition:all 0.4s ease-in-out;-moz-transition:all 0.4s ease-in-out;-o-transition:all 0.4s ease-in-out;-ms-transition:all 0.4s ease-in-out;transition:all 0.4s ease-in-out}.tabs
li.current{background:#f3f3f3;padding:0
13px 2px;border:1px
solid #d4d4d4;border-bottom:1px solid #f3f3f3}.box{display:none;border:1px
solid #D4D4D4;border-width:0 1px 1px;background:#f3f3f3;padding-top:20px;padding-left:10px;padding-right:10px;margin-bottom:30px}.box.visible{display:block}.section.vertical{border-left:160px solid #f3f3f3}.vertical
.tabs{width:160px;float:left;display:inline;margin:0
0 0 -160px}.vertical .tabs
li{padding:0
13px;padding-top:10px;margin:0
0 1px;border:1px
solid #E4E4E4;border-right:1px solid #F9F9F9;width:132px;height:33px}.vertical .tabs li:hover{padding:0
13px;padding-top:10px;margin:0
0 1px;border:1px
solid #E4E4E4;border-right:1px solid #F9F9F9;width:131px;height:33px}.vertical .tabs
li.current{width:133px;color:#444;background:#f3f3f3;border:1px
solid #D4D4D4;border-right:1px solid #f3f3f3;margin-right:-1px}.vertical
.box{border-width:1px;padding-top:15px}table.tablesorter{font-family:arial;background-color:#f9f9f9;margin:10px
0pt 15px;font-size:8pt;width:100%;text-align:left}table.tablesorter thead tr th, table.tablesorter tfoot tr
th{background-color:#f9f9f9;border:1px
solid #ededed;font-size:8pt;padding:4px}table.tablesorter thead tr
.header{background-image:url('/wp-content/themes/veles/images/bg.gif');background-repeat:no-repeat;background-position:center right;cursor:pointer}table.tablesorter tbody
td{padding:4px;background-color:#fafafa;vertical-align:top;border:1px
solid #ededed}table.tablesorter tbody tr.odd
td{background-color:#333}table.tablesorter thead tr
.headerSortUp{background-image:url('/wp-content/themes/veles/images/asc.gif')}table.tablesorter thead tr
.headerSortDown{background-image:url('/wp-content/themes/veles/images/desc.gif')}table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr
.headerSortUp{background-color:#ededed}ul#filter{float:left;list-style:none;margin-left:0;width:100%}ul#filter
li{float:left;font-size:11px;line-height:12px;margin-right:15px;padding:5px
15px;border:1px
solid #222;background-color:#111;background-image:-moz-linear-gradient(#444, #111);background-image:-webkit-gradient(linear, left top, left bottom, from(#444), to(#111));background-image:-webkit-linear-gradient(#444, #111);background-image:-o-linear-gradient(#444, #111);background-image:-ms-linear-gradient(#444, #111);background-image:linear-gradient(#444, #111);-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px}ul#filter li:hover{background:#111;color:#fff}ul#filter li:first-child{margin-left:0px}ul#filter
a{text-decoration:none;color:#fff;display:block}ul#filter li.current a, ul#filter a:hover{color:#fff}ul#filter li.current
a{color:#fff;display:inline-block}.filter-title
h3{margin-top:6px}ul#filter li.current, ul#filter li:hover{background-image:-moz-linear-gradient(#ff0000,  #c40404);background-image:-webkit-gradient(linear, left top, left bottom, from(#ff00000), to(#c40404));background-image:-webkit-linear-gradient(#ff0000, #c40404);background-image:-o-linear-gradient(#ff0000, #c40404);background-image:-ms-linear-gradient(#ff0000, #c40404);background-image:linear-gradient(#ff0000, #c40404);border:1px
solid #c40404}.un_grid{width:960px !important}.un_grid16{width:640px !important;margin-right:0px !important}#portfolio
li{float:left;margin-right:20px}.lleft #portfolio
li{float:left;margin-right:0px}#portfolio
div{margin-right:0px}.view{float:left;overflow:hidden;position:relative;text-align:center;cursor:default}.view .mask,.view
.content{width:100% !important;height:100%;position:absolute;overflow:hidden;top:0;left:0}.view
img{display:block;position:relative;border:1px
solid #eaeaea}.blog .view
img{display:block;position:relative;border:none;border-bottom:1px solid #eaeaea;border-top:1px solid #eaeaea:}.index .view
img{display:block;position:relative;border:1px
solid #eaeaea}.view
h4{text-transform:uppercase;display:block;color:#fff;padding:15px;text-align:center;position:relative;font-size:14px;background:rgba(255, 255, 255, 0.4);text-align:center;margin-bottom:0px;text-shadow:1px 1px #555}.view
p{font-size:11px;position:relative;color:#fff;top:auto;background-color:#000;text-align:center;top:0px}.view
a.info{display:inline-block;position:relative;background:rgba(93, 111, 163, 0.5);display:block;color:#fff;font-size:11px;width:100%;padding-top:5px;padding-bottom:5px}.blog .view
a.info{display:inline-block;position:absolute;background:rgba(255, 0, 0, 0.5);display:block;color:#fff;font-size:11px;width:10%;left:45%;bottom:50%;padding:5px;border-radius:3px}.index .view
a.info{display:inline-block;position:relative;background:rgba(0, 0, 230, 0.5);display:block;color:#fff;font-size:11px;width:100%;left:0%;bottom:0%;padding-top:5px;padding-bottom:5px}.view a.info:hover{background:#f00;color:#fff;text-decoration:none}.view-first
img{-webkit-transition:all 0.2s linear;-moz-transition:all 0.2s linear;-o-transition:all 0.2s linear;-ms-transition:all 0.2s linear;transition:all 0.2s linear}.view-first
.mask{-ms-filter:"progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);opacity:0;background-color:rgba(0,0,0, 0.8);-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;-ms-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out}.view-first
p{-webkit-transform:translateY(100px);-moz-transform:translateY(100px);-o-transform:translateY(100px);-ms-transform:translateY(100px);transform:translateY(100px);-ms-filter:"progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);opacity:0;-webkit-transition:all 0.2s linear;-moz-transition:all 0.2s linear;-o-transition:all 0.2s linear;-ms-transition:all 0.2s linear;transition:all 0.2s linear;padding:3px}.view-first
a.info{-ms-filter:"progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);opacity:0;-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;-ms-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out}.view-first:hover
.mask{-ms-filter:"progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100);opacity:1}.view-first:hover h4,
.view-first:hover p,
.view-first:hover
a.info{-ms-filter:"progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100);opacity:1}.view-first:hover
img{-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;-ms-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out}.sidebar h5, .awesome_block
h5{background:#35405f url(/wp-content/themes/veles/images/bg/bg1.png);text-align:center;color:#fff;text-transform:uppercase;padding:4px}.discount
.percent{color:#F00;font-size:56px;line-height:80px;margin-bottom:0px;font-weight:bold}.discount1{background-image:url(/wp-content/themes/veles/images/transperent.png);border:1px
solid #eaeaea;padding:19px}.awesome_block{background-image:url(/wp-content/themes/veles/images/transperent.png);border:1px
solid #eaeaea;padding:19px}.discount1
.percent{color:#F00;font-size:56px;line-height:56px;margin-bottom:0px;font-weight:bold}.big-separator{height:4px;background:url(/wp-content/themes/veles/images/line-pat.png);margin-top:35px;margin-bottom:35px}.video_widget{margin-top:15px;margin-bottom:20px}.pagination{list-style:none;}.pagination
li{display:inline}.pagination li a,.page-numbers{margin-top:15px;text-decoration:none;font-size:10px;padding:2px
7px;min-width:7px;float:left;text-align:center;margin-right:7px;background:rgb(53,64,95);background:-moz-linear-gradient(top,  rgba(53,64,95,1) 0%, rgba(34,41,61,1) 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(53,64,95,1)), color-stop(100%,rgba(34,41,61,1)));background:-webkit-linear-gradient(top,  rgba(53,64,95,1) 0%,rgba(34,41,61,1) 100%);background:-o-linear-gradient(top,  rgba(53,64,95,1) 0%,rgba(34,41,61,1) 100%);background:-ms-linear-gradient(top,  rgba(53,64,95,1) 0%,rgba(34,41,61,1) 100%);background:linear-gradient(top,  rgba(53,64,95,1) 0%,rgba(34,41,61,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#35405f', endColorstr='#22293d',GradientType=0 );display:inline-block;position:relative;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-transition:box-shadow 0.3s ease-in-out;-moz-transition:box-shadow 0.3s ease-in-out;-o-transition:box-shadow 0.3s ease-in-out;transition:box-shadow 0.3s ease-in-out;-moz-box-shadow:1px 1px 1px #fff;-webkit-box-shadow:1px 1px 1px #fff;box-shadow:1px 1px 1px #fff;color:#999;text-shadow:0px 1px #333}.pagination li.current a, .pagination .current,.current{color:#fff;background:#f00;text-shadow:0px 1px #333;-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out}.pagination li a:hover,.page-numbers:hover{color:#fff;background:#f00;text-decoration:none;text-shadow:0px 1px #333;-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out}.slider_area{background-color:#000;padding:10px;background-color:#111;background-image:-moz-linear-gradient(#444, #333);background-image:-webkit-gradient(linear, left top, left bottom,from(#444),to(#333));background-image:-webkit-linear-gradient(#444,#333);background-image:-o-linear-gradient(#444,#333);background-image:-ms-linear-gradient(#444,#333);background-image:linear-gradient(#444,#333);-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px}.slider_area.home{padding:20px;margin-bottom:10px}.sidebar
.logo{margin-top:25px;margin-bottom:25px}.features
li{font-size:11px;padding-bottom:3px;padding-top:3px;font-style:italic;border-bottom:1px solid #dedede}.map{padding:10px;background-image:-moz-linear-gradient(#444, #333);background-image:-webkit-gradient(linear, left top, left bottom, from(#444), to(#333));background-image:-webkit-linear-gradient(#444, #333);background-image:-o-linear-gradient(#444, #333);background-image:-ms-linear-gradient(#444, #333);background-image:linear-gradient(#444, #333);-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;-moz-box-shadow:0 0 2px 1px rgba(255,255,255,.1), 0 3px 0 #000, 0 4px 0 #111, 0 5px 2px #444;-webkit-box-shadow:inset 0 0 10px black;box-shadow:inset 0 0 10px black}.post_form,.container-requisicao{width:578px !important;font-size:11px;padding:20px;margin-right:10px;float:left;border:1px
solid white;background:#FAFAFA;box-shadow:0 0 2px rgba(0,0,0,.3);-webkit-box-shadow:0 0 2px rgba(0,0,0,.3);-moz-box-shadow:0 0 2px rgba(0,0,0,.3)}.post_form .span-8{width:276px}.post_form .span-7{margin-right:20px !important}.post_form
.text{width:270px}.post_form
.texts{width:565px}.post_form .span-16{width:565px;margin-top:15px}.post_form
select{width:279px}.formtop{margin-top:15px !important}input[type=text], input[type=texts].input[type=password],input.text,input.title,textarea, .post_form
select{outline:none;border:1px
solid #e1e1e1;font-size:11px;padding:4px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px}input[type=text]:focus, input[type=text]:focus, input[type=password]:focus,input.text:focus,input.title:focus,textarea:focus, .post_form select:hover{background-color:#fff;box-shadow:inset 0 0 1px #333}textarea{width:565px !important;height:80px;padding:5px;background:#fff;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px}#submit_form{float:left;border:1px
solid #000;height:30px;width:120px;margin-top:15px;padding:0;cursor:pointer;font-size:12px;color:#dfdfdf;text-transform:uppercase;background:rgb(53,64,95);background:-moz-linear-gradient(top,  rgba(53,64,95,1) 0%, rgba(34,41,61,1) 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(53,64,95,1)), color-stop(100%,rgba(34,41,61,1)));background:-webkit-linear-gradient(top,  rgba(53,64,95,1) 0%,rgba(34,41,61,1) 100%);background:-o-linear-gradient(top,  rgba(53,64,95,1) 0%,rgba(34,41,61,1) 100%);background:-ms-linear-gradient(top,  rgba(53,64,95,1) 0%,rgba(34,41,61,1) 100%);background:linear-gradient(top,  rgba(53,64,95,1) 0%,rgba(34,41,61,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#35405f', endColorstr='#22293d',GradientType=0 );-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;-moz-box-shadow:0 1px 0 #fff;-webkit-box-shadow:0 1px 0 #fff;box-shadow:0 1px 0 #fff;text-shadow:1px 1px 0 #121212}#submit_form:hover{float:left;border:1px
solid #000;height:30px;width:120px;margin-top:15px;padding:0;cursor:pointer;font-size:12px;color:#fff;text-transform:uppercase;text-decoration:none;background-color:#111;background-image:-moz-linear-gradient(#444,  #111);background-image:-webkit-gradient(linear, left top, left bottom, from(#444), to(#111));background-image:-webkit-linear-gradient(#444, #111);background-image:-o-linear-gradient(#444, #111);background-image:-ms-linear-gradient(#444, #111);background-image:linear-gradient(#444, #111);color:#FFF;-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;-moz-box-shadow:0 1px 0 #fff;-webkit-box-shadow:0 1px 0 #fff;box-shadow:0 1px 0 #fff;text-shadow:1px 1px 0 #121212}#note{color:#f00}.meta{font-size:10px;float:left;color:#fff}.tags,.tagcloud{background:url(/wp-content/themes/veles/images/tags.png);background-repeat:no-repeat;background-position:center left}.post-short{width:598px;margin-top:0px !important}ul.navigation-sidebar li, .sidebar ul li, .footer
li{width:235px;font-size:12px !important;border-bottom:1px  dashed #dfdfdf;font-size:10px;line-height:12px;line-height:30px;padding-left:20px;background:url("/wp-content/themes/veles/images/navigation_dark.png") no-repeat 0px 10px}.footer
li{width:280px;line-height:25px}ul.navigation-sidebar li:hover, ul.navigation-sidebar li.current, .sidebar ul li:hover, .footer li:hover{background:url("/wp-content/themes/veles/images/navigation_dark_hover.png") no-repeat 0px 10px}.sidebar ul li:hover  a, .footer li:hover
a{color:#f00}ul.navigation-sidebar
a{color:#777;text-decoration:none}#filter-sidebar
li.current{color:#f00;text-shadow:none}ul.navigation-sidebar li.current a, ul.navigation-sidebar a:hover{text-decoration:none;color:#f60}ul.navigation-sidebar li.current
a{color:#f00 !important}ul.navigation-sidebar a:hover{color:#f00}.sidebar
.tags{padding-left:0px}.tags p, .tagcloud
a{float:left;padding:5px;margin-top:10px;margin-bottom:0px;background-color:#333;margin-right:10px;border-radius:3px;color:#fff;-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out}.big1{font-size:10px}.big2{font-size:16px}.big3{font-size:20px}.big4{font-size:15px}.big5{font-size:11px}.big6{font-size:18px}.big7{font-size:12px}.tags p:hover, .tagcloud a:hover{background:#f00;-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;text-decoration:none}.tags p:hover > a, .tagcloud a:hover{text-decoration:none}.comment{margin-top:20px}.avatar{width:70px;float:left;margin-right:20px;margin-bottom:20px}.avatar
p{font-size:11px;font-weight:bold;text-align:center;margin-bottom:5px}.avatar
img{border:1px
solid  #eaeaea}.gray{color:#999}.main-comment
p{margin-top:0px !important}.comment .small-italic{font-size:11px}.comment
h6{margin-bottom:0px}.main-comment
h6{margin-bottom:0px !important}.main-comment{float:left;width:476px}.main-comment
.button_readmore{margin-bottom:15px}.replay{width:476px;float:right}.replay .main-comment{width:374px}.replay2{width:374px;float:right}.replay2 .main-comment{width:272px}.sidebar .span-6{margin-top:15px !important;margin-left:10px}.post-short .span-16{width:578px}.kwicks-box{width:940px}.kwicks{list-style:none;position:relative;margin:0;padding:0;width:940px}.kwicks
li{width:225px;height:350px;display:block;overflow:hidden;padding:0}.kwicks.horizontal
li{float:left;margin:0px}.kwicks.horizontal
#kwick_4{margin-right:none}.kwicks.vertical
#kwick_4{margin-bottom:none}.accordian-slider-caption{bottom:0px;left:258px;position:absolute;color:#000;padding:10px
20px;font-size:11px;background:#fff;width:600px;text-shadow:none;text-decoration:none;-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out}.accordian-slider-caption:hover{background:#f1f2f1;-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out}.accordian-slider-captiontitle{font-size:16px;color:#000;display:block;line-height:26px;margin:0
0 5px 0;text-decoration:none;text-transform:uppercase;font-family:Oswald}.va-container{position:relative;margin:0px
auto 0 auto}.va-wrapper{width:100%;height:100%;position:relative;overflow:hidden;background:#000}.va-slice{cursor:pointer;position:absolute;width:100%;left:0px;overflow:hidden}.va-slice-1{background:#000 url(/wp-content/themes/veles/images/1.jpg) no-repeat center center}.va-slice-2{background:#000 url(/wp-content/themes/veles/images/2.jpg) no-repeat center center}.va-slice-3{background:#000 url(/wp-content/themes/veles/images/3.jpg) no-repeat center center}.va-slice-4{background:#000 url(/wp-content/themes/veles/images/4.jpg) no-repeat center center}.va-slice-color-1{background-color:#000}.va-slice-color-2{background-color:#fff}.va-slice-color-3{background-color:#0072cf}.va-slice-color-4{background-color:#0039a6}.va-slice-color-5{background-color:#00338e}.va-slice-color-6{background-color:#002c76}.va-slice-color-7{background-color:#002144}.va-title{text-transform:uppercase;font-size:32px;margin-left:20px;color:#fff}.va-slice
h3{color:#fff;-webkit-transition:background-color 0.4s ease-in-out;-moz-transition:background-color 0.4s ease-in-out;-o-transition:background-color 0.4s ease-in-out;-ms-transition:background-color 0.4s ease-in-out;transition:background-color 0.4s ease-in-out}.va-slice h3:hover{text-transform:uppercase;color:#f00;-webkit-transition:all 0.4s ease-in-out;-moz-transition:all 0.4s ease-in-out;-o-transition:all 0.4s ease-in-out;-ms-transition:all 0.4s ease-in-out;transition:all 0.4s ease-in-out}.va-content{display:none;margin-left:20px;width:260px}.va-slice
p{color:#fff}.va-slice
ul{margin-top:20px}.va-slice ul
li{float:left;margin:0px
2px}.va-slice ul li
a{color:#fff;background:#f00;padding:3px
6px;font-size:12px;text-transform:uppercase;-webkit-transition:background-color 0.4s ease-in-out;-moz-transition:background-color 0.4s ease-in-out;-o-transition:background-color 0.4s ease-in-out;-ms-transition:background-color 0.4s ease-in-out;transition:background-color 0.4s ease-in-out}.va-slice ul li a:hover{background:#fff;color:#000;text-shadow:none;text-decoration:none;-webkit-transition:all 0.4s ease-in-out;-moz-transition:all 0.4s ease-in-out;-o-transition:all 0.4s ease-in-out;-ms-transition:all 0.4s ease-in-out;transition:all 0.4s ease-in-out}.va-nav
span{width:40px;height:25px;background:transparent url(/wp-content/themes/veles/images/prev.png) no-repeat center center;position:absolute;top:-55px;left:50%;margin-left:-20px;text-indent:-9000px;opacity:0.7;cursor:pointer;display:none;z-index:100}.va-nav span.va-nav-next{background-image:url(/wp-content/themes/veles/images/next.png);top:auto;bottom:-60px}.va-nav span:hover{opacity:1.0}.va-more{position:absolute;width:70px;height:20px;background-color:#f00;background-image:url('/wp-content/themes/veles/images/more.png');background-repeat:no-repeat;background-position:18px 7px;-webkit-transition:background-color 0.4s ease-in-out;-moz-transition:background-color 0.4s ease-in-out;-o-transition:background-color 0.4s ease-in-out;-ms-transition:background-color 0.4s ease-in-out;transition:background-color 0.4s ease-in-out}.va-more:hover{background-color:#fff;background-image:url('/wp-content/themes/veles/images/more.png');-webkit-transition:background-color 0.4s ease-in-out;-moz-transition:background-color 0.4s ease-in-out;-o-transition:background-color 0.4s ease-in-out;-ms-transition:background-color 0.4s ease-in-out;transition:background-color 0.4s ease-in-out}.static{color:#fff !important;background-image:url('/wp-content/themes/veles/images/gallery/stat-bg.jpg');background-repeat:repeat;padding-top:30px;padding-right:40px;padding-left:40px;height:320px}.static
div{float:left}.static
h3{margin-top:10px;color:#fff}.static
p{color:#fff !important}.blog_wide{width:620px;background-color:#dfdfdf;text-align:center!important}.blog_wide
a{text-align:center!important}.left-sidebar{margin-left:0px;margin-right:20px !important}.left-item{margin-left:20px;margin-right:0px !important}.sidebar #searchform .screen-reader-text{display:none}.sidebar #searchform
#searchsubmit{margin-top:15px;background:rgb(53,64,95);background:-moz-linear-gradient(top,  rgba(53,64,95,1) 0%, rgba(34,41,61,1) 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(53,64,95,1)), color-stop(100%,rgba(34,41,61,1)));background:-webkit-linear-gradient(top,  rgba(53,64,95,1) 0%,rgba(34,41,61,1) 100%);background:-o-linear-gradient(top,  rgba(53,64,95,1) 0%,rgba(34,41,61,1) 100%);background:-ms-linear-gradient(top,  rgba(53,64,95,1) 0%,rgba(34,41,61,1) 100%);background:linear-gradient(top,  rgba(53,64,95,1) 0%,rgba(34,41,61,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#35405f', endColorstr='#22293d',GradientType=0 );-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;text-shadow:0 1px 0 rgba(0,0,0,.5);box-shadow:0 0 1px rgba(0, 0, 0, 0.3);-moz-box-shadow:0 0 1px rgba(0, 0, 0, 0.3);-webkit-box-shadow:0 0 1px rgba(0, 0, 0, 0.3);border:1px
solid #000;font-size:10px;padding:3px;cursor:pointer;color:#fff}.sidebar #searchform #searchsubmit:focus, .sidebar #searchform #searchsubmit:hover{background-color:#111;background-image:-moz-linear-gradient(#444,  #111);background-image:-webkit-gradient(linear, left top, left bottom, from(#444), to(#111));background-image:-webkit-linear-gradient(#444, #111);background-image:-o-linear-gradient(#444, #111);background-image:-ms-linear-gradient(#444, #111);background-image:linear-gradient(#444, #111);border:1px
solid #111}.sidebar #searchform
#s{width:165px;margin-top:15px}.sidebar .menu-main-menu-container ul
li{width:220px}.sidebar .menu-main-menu-container ul li
a{color:#555;background:none;background-color:none;padding:0px
5px}.tweet_intro,.tweet_outro{font-size:11px}.tweet_list{list-style:none;margin:0;padding:0;font-size:11px}.tweet_list
li{background-image:none;display:block;margin-top:10px;line-height:16px;font-size:11px !important;color:#5a5a5a;padding-left:0px;padding-bottom:10px}.tweet_list li:hover{background-image:none}.tweet_list li
a{color:#f00}.gallery-caption{}.bypostauthor{}.sticky{}.wp-caption{}.wp-caption-text{text-align:center;font-size:11px;font-weight:bold}.alignright{float:right;margin-left:20px;margin-bottom:20px}.alignleft{float:left !important;margin-right:20px;margin-bottom:20px}.aligncenter{display:block;margin-left:auto;margin-right:auto}strong{font-weight:bold}em{font-style:italic}del{text-decoration:line-through}.notification_error{color:#D8000C;background-color:#FFBABA;padding:10px;margin-bottom:15px;border-radius:5px}.wrapper{background:white;width:1000px;margin:auto}.span-16
a{color:#B11116}.skills
p{margin:0}.footer_welcome a:hover{text-decoration:none}.has-transition{-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;-ms-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out}.enfase{padding:4px
10px;font-weight:bold;font-size:13px;display:block;margin:5px
0;color:white;background:#222;text-shadow:1px 1px 3px rgba(0,0,0,.3);width:250px;border-radius:5px}.enfase-red{background:#a51c30}.enfase-blue{background:#3b7abd}.enfase-green{background:#52854c}.simple-list{margin-bottom:20px}.simple-list
li{background:url('/wp-content/themes/veles/images/simple-list.png') no-repeat left top;background-position:0 5px;min-height:20px;padding:5px
0 0 25px;margin-left:15px}.document-list,.green-list,.red-list,.word-list,.powerpoint-list,.download-list,.excel-list,.doc_google-list,.spreadsheet_google-list,.photoshop-list,.corel-list,.jpg-list{margin-bottom:20px;line-height:15px;margin-left:15px}.document-list2{margin-bottom:20px;line-height:15px}.word-list
li{background:url('/wp-content/themes/veles/images/word-list.png') no-repeat left top;min-height:32px;padding:10px
0 0 40px;line-height:15px}.powerpoint-list
li{background:url('/wp-content/themes/veles/images/powerpoint-list.png') no-repeat left top;min-height:32px;padding:10px
0 0 40px;line-height:15px}.excel-list
li{background:url('/wp-content/themes/veles/images/excel-list.png') no-repeat left top;min-height:32px;padding:10px
0 0 40px;line-height:15px}.download-list
li{background:url('/wp-content/themes/veles/images/download-list.png') no-repeat left top;min-height:32px;padding:10px
0 0 40px;line-height:15px}.doc_google-list
li{background:url('/wp-content/themes/veles/images/doc_google-list.png') no-repeat left top;min-height:32px;padding:10px
0 0 40px;line-height:15px}.spreadsheet_google-list
li{background:url('/wp-content/themes/veles/images/spreadsheet_google-list.png') no-repeat left top;min-height:32px;padding:10px
0 0 40px;line-height:15px}.photoshop-list
li{background:url('/wp-content/themes/veles/images/photoshop-list.png') no-repeat left top;min-height:32px;padding:10px
0 0 40px;line-height:15px}.corel-list
li{background:url('/wp-content/themes/veles/images/corel-list.png') no-repeat left top;min-height:32px;padding:10px
0 0 40px;line-height:15px}.jpg-list
li{background:url('/wp-content/themes/veles/images/jpg-list.png') no-repeat left top;min-height:32px;padding:10px
0 0 40px;line-height:15px}.document-list
li{background:url('/wp-content/themes/veles/images/document-list.png') no-repeat left top;min-height:32px;padding:10px
0 0 40px;line-height:15px}.document-list2
li{background:url('/wp-content/themes/veles/images/document-list.png') no-repeat left top;min-height:32px;padding:10px
0 0 40px;line-height:15px}.green-list
li{background:url('/wp-content/themes/veles/images/green-list.png') no-repeat left top;padding:0
0 0 20px;margin:7px
0}.red-list
li{background:url('/wp-content/themes/veles/images/red-list.png') no-repeat left top;padding:0
0 0 20px;margin:7px
0}.border-right{padding-right:20px;border-right:1px solid #EAEAEA}.border-bottom{padding-bottom:20px;border-bottom:1px solid #EAEAEA;margin-bottom:20px}.margin20{margin-top:20px !important}.margin40{margin-top:40px !important}.small-h3{font-size:23px}.home .blog-index
iframe{width:420px;height:275px;z-index:1}.home .blog-index img, .blog-index .mask, .blog-index .view, .blog-index .blog_wide, .home .blog-index .img-bg{width:inherit;max-width:415px !important;height:auto}.button_readmore{margin-top:10px}#slideshow_nav{position:absolute;left:50%;top:563px;z-index:1020}#slideshow_nav ul
li{list-style:none;float:left;background:#FAFAFA;margin-right:3px;font-size:70%;border:1px
solid #EAEAEA}#slideshow_nav ul li:hover, #slideshow_nav
.active{background:#35405F;color:white;border-color:#333}#slideshow_nav ul
a{display:block;padding:3px
8px}#slideshow_nav ul a:hover{color:white}.separator-noticias,.separator-cursos,.separator-servicos{height:25px;font-weight:bold;font-size:20px;padding:20px
0 10px 20px;color:white;text-transform:uppercase;text-shadow:1px 1px 5px rgba(0,0,0,.3);background:black url(/wp-content/themes/veles/images/bg/bg1.png);font-family:Tahoma,Arial,sans-serif;width:920px}.separator-noticias:hover a, .separator-cursos:hover a, .separator-servicos:hover
a{color:white;display:block}.separator-noticias{margin:20px
0 10px 0 !important;background-color:#5D6FA3}.separator-cursos{background-color:#35405f;margin:0
0 20px 0 !important}.separator-servicos{margin:20px
0 5px 0 !important;background-color:#a51c30}.index-block{position:relative;border:1px
solid white;background:#FAFAFA;box-shadow:0 0 2px rgba(0,0,0,.3);-webkit-box-shadow:0 0 2px rgba(0,0,0,.3);-moz-box-shadow:0 0 2px rgba(0,0,0,.3);width:278px !important;padding:10px;height:250px}.index-block:hover{border-color:#a51c30}.index-estagio,.index-direcao,.index-vestibular{height:150px}.index-block
.icon{float:left;margin-right:15px}.index-agro{background:#FAFAFA url(/wp-content/themes/veles/images/6.png)}.index-agro:hover{border-color:#52854c}.index-ads{background:#FAFAFA url(/wp-content/themes/veles/images/5.png)}.index-ads:hover{border-color:#35405f}.index-comex{background:#FAFAFA url(/wp-content/themes/veles/images/7.png)}.index-comex:hover{border-color:#d98634}.home .blog-index:hover{border-color:#5d6fa3}.noticias-container{padding-left:7px}.color-line{min-height:5px;color:black}.category-concurso .comments, .category-concurso
.author{display:none}.titulo-curso
img{position:relative;z-index:-1}.titulo-curso
h3{position:absolute;top:45px;border-bottom:0 !important;padding:10px
!important;color:white;text-shadow:1px 1px 3px #333;text-transform:uppercase;font-size:18px;line-height:22px}.titulo-agro
img{border-top:3px solid #52854c}.titulo-agro
h3{background:#52854c}.titulo-ads
img{border-top:3px solid #35405f}.titulo-ads
h3{background:#35405f}.titulo-comex
img{border-top:3px solid #D98634}.titulo-comex
h3{background:#D98634}.titulo-gpi
img{border-top:3px solid #F8CA00}.titulo-gpi
h3{background:#F8CA00}.titulo-ge
img{border-top:3px solid #669}.titulo-ge
h3{background:#669}.box-curso{float:left;width:620px;text-align:center;margin-right:20px;margin-bottom:20px;border:1px
solid #CCC;background-image:-moz-linear-gradient(white, #F5F5F5);background-image:-webkit-linear-gradient(white, #F5F5F5);background-image:-o-linear-gradient(white, #F5F5F5);background-image:-ms-linear-gradient(white, #F5F5F5);background-image:linear-gradient(white, #F5F5F5);box-shadow:inset 0 0 5px white;-webkit-box-shadow:inset 0 0 5px white;-moz-box-shadow:inset 0 0 5px white}.box-curso h5>a{border-bottom:1px solid #CCC;padding:10px
0;width:100%;height:100%;display:block;color:black}.box-curso h5>a:hover{text-decoration:none;color:#B11116;box-shadow:inset 0 1px 20px rgba(0,0,0,.1)}.box-curso
p{margin:0;padding-bottom:10px}.blog-title
a{color:white}.meta a:hover{color:white}.social-plugin-buttons{border-top:1px solid #EAEAEA;border-bottom:1px solid #EAEAEA;padding:10px
0 7px 0 !important;margin-bottom:20px}.comments-closed{display:none}.post-short-index
a{color:#B11116}.blog-index
.tags{position:absolute;padding:4px
4px 4px 35px;text-align:center;background-color:#5D6FA3;background-position:8px;color:white;right:220px;bottom:10px;min-width:130px}.blog-index
.button_readmore{position:absolute;right:10px;bottom:10px;color:white;padding:4px
20px;text-align:center;background-color:#5D6FA3;text-decoration:none}.blog-index .button_readmore:hover{color:white;background:#35405f}.blog-index-title{margin-bottom:10px;padding:5px
0 10px 0;min-width:400px}.blog-index-title a:hover{color:white}.span-16 .blog-index-title{margin-top:5px}.span-16 .blog-index{margin-top:36px !important;min-height:0}.span-16 .blog-index:hover{border-color:#35405f}.span-16 .post-short-index{margin-top:10px}.post-title-index
h3{margin-bottom:0;font-size:20px;line-height:30px}.post-title-index
a{display:block;color:#5d6fa3 !important;text-decoration:none;-webkit-transition:none;-moz-transition:none;-o-transition:none;-ms-transition:none;transition:none}.post-title-index a:hover{color:#35405f !important;text-decoration:underline}.post-short-index{padding-bottom:20px}.blog-index{position:relative;margin:20px
18px 10px 0 !important;padding:10px
15px;border:1px
solid white;background:#FAFAFA;box-shadow:0 0 2px rgba(0,0,0,.3);-webkit-box-shadow:0 0 2px rgba(0,0,0,.3);-moz-box-shadow:0 0 2px rgba(0,0,0,.3)}.blog-index:hover{border-color:#5D6FA3}.blog-title{width:618px;margin-top:15px !important}.blog-title .post-info{margin:-10px 0 30px 0}.blog-title
h3{border-bottom:1px solid #EAEAEA}.single-post
.blog{padding:10px
20px;margin-top:35px !important;width:600px;border:1px
solid white;background:#FAFAFA;box-shadow:0 0 2px rgba(0,0,0,.3);-webkit-box-shadow:0 0 2px rgba(0,0,0,.3);-moz-box-shadow:0 0 2px rgba(0,0,0,.3)}.single-post .blog p
a{color:#B11116}.single-post .blog a:hover{text-decoration:underline !important}.post-title a:hover{color:white}.pagination .page-numbers{color:white}.post-title{width:600px}.post-title
h3{font-size:26px;font-weight:bold;line-height:37px;border-bottom:1px solid #EAEAEA;color:#5d6fa3}.post-info{color:white;text-transform:uppercase;font-weight:bold;padding:4px
8px 4px 0;text-transform:uppercase;font-weight:bold;font-size:10px}.post-info
.comments{margin-left:5px;padding:0
10px}.post-info .comments:hover{background:#fff6c1}.post-info
div{float:left;color:#35405f}.post-info
a{color:white}.post-info .comments, .post-info
.author{padding-left:5px}.post-info .author, .post-info
.comments{background:none}.post-info
.date{background:#fff6c1;padding:0
8px}#disqus_thread
h3{font-size:18px}.page-template-default p,
.page-template-fullwidth-php
p{text-align:justify}.span-16 h3, .span-24
h3{padding-bottom:15px;border-bottom:1px solid #EAEAEA}.blog-title
h3{padding:10px
0;margin-top:-20px}.span-16
h5{margin-bottom:15px}table.style{width:570px;text-align:center;vertical-align:middle}table.style
thead{background:#35405f;color:white;font-weight:bold}table.style thead
tr{height:28px}table.style thead td,
table.style thead
th{padding:6px;vertical-align:middle}table.style tbody
tr{-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out}table.style tbody tr:nth-child(odd){background:#DDE2FF}table.style tbody tr:nth-child(even){background:#EEF0FF}table.style tbody tr:last-child{border-bottom:1px solid #EAEAEA}table.style tbody
td{border-top:1px solid #EAEAEA;padding:10px
0;min-width:100px;vertical-align:middle}table.style tbody
tr{background:#DDE2FF}table.style2 tbody tr:nth-child(odd){background:#fff !important}table.style2 tbody tr:nth-child(even){background:#fff !important}table.style3{width:1000px !important}#perfil-docentes h4
a{background:url(/wp-content/themes/veles/images/lattes.png) left top no-repeat;height:32px;display:inline-block;padding-left:30px}.img-bg{float:left;margin-right:20px;margin-bottom:20px;border:1px
solid white;background:#FAFAFA;box-shadow:0 0 2px rgba(0,0,0,.3);-webkit-box-shadow:0 0 2px rgba(0,0,0,.3);-moz-box-shadow:0 0 2px rgba(0,0,0,.3);padding:4px}.list-roman{list-style:upper-roman;padding-left:23px;margin-bottom:20px}.menu-links .span-7{background:white;background-image:-moz-linear-gradient(white, #F5F5F5);background-image:-webkit-linear-gradient(white, #F5F5F5);background-image:-o-linear-gradient(white, #F5F5F5);background-image:-ms-linear-gradient(white, #F5F5F5);background-image:linear-gradient(white, #F5F5F5);border:1px
solid #DDD;text-align:center;margin-right:18px;max-height:40px;position:relative}.menu-links .span-7:hover{border-color:#BBB}.menu-links .span-7:active{border:1px
solid #AAA;border-bottom-color:#CCC;border-top-color:#999;-webkit-box-shadow:inset 0 0 20px #DDD;-moz-box-shadow:inset 0 0 20px #DDD;box-shadow:inset 0 0 20px #DDD}.menu-links .span-7
a{font-size:12px;display:block;width:100%;height:30px;font-weight:bold;color:black;padding-top:12px}.menu-links .span-7 a:hover{color:#B11116;text-decoration:none}.fale-direcao{margin:auto}.fale-direcao
.post_form{width:600px !important}#mais-fatec
img{border:1px
solid #EAEAEA;margin-bottom:10px}#mais-fatec .span-5{text-align:center;font-size:10px;padding:10px
0 5px 0;-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;cursor:pointer}#mais-fatec .span-5:hover{border-color:#a51c30}.container-requisicao{width:900px !important;font-size:15px}#form-requisicao
label{display:block;color:black;margin-bottom:5px}#form-requisicao input[type="text"], #form-requisicao
select{width:100%;padding:5px;margin-right:20px;font-size:14px;border-color:#CCC;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px}select#documento{width:862px}#form-requisicao
textarea{font-size:13px;font-family:Arial,sans-serif;padding:8px
10px;width:842px !important;border-color:#CCC}.alert-success,.alert-fail{padding:20px;height:410px;width:418px;margin-bottom:20px;border:1px
solid white;background:#FAFAFA;box-shadow:0 0 2px rgba(0,0,0,.3);-webkit-box-shadow:0 0 2px rgba(0,0,0,.3);-moz-box-shadow:0 0 2px rgba(0,0,0,.3)}.alert-success{margin-left:px}.titulo-success
h6{background:#00ff7f}.titulo-fail
h6{background:#ff6347}#monitoria
p{margin:20px
0 5px 0}#monitoria
strong{color:#b11116}#monitoria
table{width:600px;border:1px
solid white;background:#FAFAFA;box-shadow:0 0 2px rgba(0,0,0,.3);-webkit-box-shadow:0 0 2px rgba(0,0,0,.3);-moz-box-shadow:0 0 2px rgba(0,0,0,.3);margin-bottom:30px}#monitoria
th{padding:5px
0;border-bottom:1px solid #EAEAEA;font-size:10px;font-weight:bold}#monitoria
td{width:100px;text-align:center;padding:3px
0}.vestibular-fatec,.vestibular-fatec2{width:400px;padding:20px;line-height:1.6em;color:#333}.vestibular-fatec h4, .vestibular-fatec2
h4{font-family:Arial,serif;font-weight:400}.vestibular-fatec{float:left;width:600px}.vestibular-fatec2{float:right;width:380px;text-align:right}.vestibular-content{clear:both;width:600px;margin:auto}.vestibular-fatec
p{margin:0}.vestibular-fatec
a{color:#a51c30}.links-container{padding:10px
20px;float:left;height:325px;overflow:auto;margin-top:5px !important}.links-container
p{margin:10px
0 0 0}.links-img{display:block;margin:auto;width:200px;height:80px;margin:10px
0 10px 5px;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;border:2px
solid #EAEAEA}.links-url{text-align:center;display:block;font-size:140%;border-bottom:1px solid #CCC}.em-location-map{border:1px
solid #CCC;box-shadow:0 0 5px rgba(0,0,0,.4);-moz-box-shadow:0 0 3px black;-webkit-box-shadow:0 0 3px black}.theme-default
.nivoSlider{position:relative;background:#fff url(/wp-content/themes/veles/images/loading.gif) no-repeat 50% 50%;height:800px !important;width:600px !important}.home .theme-default
.nivoSlider{position:relative;background:#fff url(/wp-content/themes/veles/images/loading.gif) no-repeat 50% 50%;height:350px !important;width:898px !important}.theme-default .nivoSlider
img{position:absolute;top:0px;left:0px;display:none}.theme-default .nivoSlider
a{border:0;display:block}.theme-default .nivo-controlNav{position:absolute;left:50%;bottom:-35px;margin-left:-447px}.theme-default .nivo-controlNav
a{display:block;width:22px;height:22px;background:url(/wp-content/themes/veles/images/bullets.png) no-repeat;text-indent:-9999px;border:0;margin-right:3px;float:left}.theme-default .nivo-controlNav
a.active{background-position:0 -22px}.theme-default .nivo-directionNav
a{display:block;width:32px;height:32px;text-indent:-9999px;border:0}.theme-default a.nivo-nextNav{background-image:url(/wp-content/themes/veles/images/arrow-next.png);margin-right:20px}.theme-default a.nivo-nextNav:hover{background-image:url(/wp-content/themes/veles/images/arrow-next-hover.png)}.theme-default a.nivo-prevNav{background-image:url(/wp-content/themes/veles/images/arrow-prev.png);margin-left:20px}.theme-default a.nivo-prevNav:hover{background-image:url(/wp-content/themes/veles/images/arrow-prev-hover.png)}.theme-default .nivo-caption{font-family:Helvetica,Arial,sans-serif}.theme-default .nivo-caption
a{color:#000;border-bottom:1px dotted #000}.theme-default .nivo-caption a:hover{color:#000;border-bottom:1px solid #000}.nivoSlider{position:relative}.nivoSlider
img{position:absolute;top:0px;left:0px}.nivoSlider{border:1px
solid #fff}.nivoSlider a.nivo-imageLink{position:absolute;top:0px;left:0px;width:100%;height:100%;border:0;padding:0;margin:0;z-index:6;display:none}.nivo-slice{display:block;position:absolute;z-index:5;height:100%}.nivo-box{display:block;position:absolute;z-index:5}.nivo-caption{position:absolute;background:#fff;color:#333 !important;opacity:0px !important;width:35%;padding:20px;z-index:8;top:200px;bottom:25px;left:20px}.nivo-caption
h3{color:#000;text-transform:uppercase}.nivo-caption
p{margin:0;font-size:12px}.nivo-caption
a{display:inline !important}.nivo-html-caption{display:none}.nivo-directionNav
a{position:absolute;top:45%;z-index:9;cursor:pointer}.nivo-prevNav{left:0px}.nivo-nextNav{right:0px}.nivo-controlNav
a{left:400px;bottom:37px;position:relative;z-index:9;cursor:pointer}.nivo-controlNav
a.active{font-weight:bold}